/*
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
 */


/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_ef8c08_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_ef8c08_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_ef8c08_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_228ef1_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_ffd27a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }/*
 * jQuery UI Resizable 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/*
 * jQuery UI Selectable 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }
/*
 * jQuery UI Accordion 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }
/*
 * jQuery UI Autocomplete 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.16
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
/*
 * jQuery UI Button 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
/*
 * jQuery UI Dialog 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/*
 * jQuery UI Slider 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }/*
 * jQuery UI Tabs 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
/*
 * jQuery UI Datepicker 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/*
 * jQuery UI Progressbar 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }.colorpicker {	width: 25em;	height: 18.5em;	overflow: hidden;	position: absolute;	display: none;	z-index: 2000;}
.colorpicker_header{	padding:3px;	margin: 2px;	line-height: 1.8em;	text-align: center;}
/* 2D color box */.colorpicker_color {	width: 150px;	height: 150px;	left: 1em;	top: 1em;	position: relative;	background: #f00;	overflow: hidden;	cursor: crosshair;	float: left;}
.colorpicker_color div {	position: absolute;	top: 0;	left: 0;	width: 150px;	height: 150px;	background: url(images/colorpicker_overlay.png);}
.colorpicker_color div div {	position: absolute;	top: 0;	left: 0;	width: 11px;	height: 11px;	overflow: hidden;	background: url(images/colorpicker_select.gif);	margin: -5px 0 0 -5px;}
/* slider */.colorpicker_hue {	background: url(images/colorpicker_slider.png); 	background-repeat: no-repeat;	position: relative;	margin-top: 1em;	margin-left: 2em;	width: 35px;	height: 150px;	cursor: n-resize;	float: left;}
.colorpicker_hue div {	position: absolute;	width: 35px;	height: 9px;	overflow: hidden;	background: url(images/colorpicker_circle.gif) left top;	margin: -4px 0 0 0;	left: -9px;}
/* color boxes */
.colorpicker_new_color {	width: 3em;	height: 2em;	margin-left: 0em;	margin-top: 1em;	background: #f00;	float: left;}
.colorpicker_current_color {	width: 3em;	height: 2em;	margin-left: 1em;	margin-top: 1em;	background: #f00;	float: left;}
/* common entry fields */.colorpicker_field {	width: 3em;/*	background-position: top;	position: absolute; */}
.colorpicker input {	text-align: right;	margin: 0;	padding: 0;}
.colorpicker_prompt{}
/* rgb block */.colorpicker_rgb{  float: left;  margin-left: 0em;}
.colorpicker_rgb_r {	top: 6.2em;	left: 16em;}
.colorpicker_rgb_g {	top: 8.2em;	left: 16em;}
.colorpicker_rgb_b {	top: 10.2em;	left: 16em;}
/* hsb block */.colorpicker_hsb{  float: left;	margin-left: 1em;}
.colorpicker_hsb_h {	top: 6.2em;	right: 1em;}
.colorpicker_hsb_s {	top: 8.2em;	right: 1em;}
.colorpicker_hsb_b {	top: 10.2em;	right: 1em;}
/* hex field */.colorpicker_hex {  position: absolute;  bottom: 1em;  left: 1em;  width: 17em;		}
.colorpicker_hex_prompt {	float:left;	margin-right: 0.5em;}
/* buttons */.colorpicker_submit {	position: absolute;	right: 6.5em;	bottom: 0.5em;}
.colorpicker_cancel {	position: absolute;	right: 0.5em;	bottom: 0.5em;}
.colorpicker_lookup{width: 22px;height: 22px;/*background: url(images/colorpicker_lookup.png);*/}
.colorpicker_example{float: left;height: 1.5em;padding: 5px;border: 1px solid;}/* NetTalk menu css */

.nt-menu-div {
  border:1px solid #CCCCCC;
  height:2.5em;
  width:100%;
  border-collapse: collapse;
  margin-bottom:0.5em;  
}

.nt-menu{
	padding: 0;
	margin-bottom: 0.5em;
	margin-top: 0;
	list-style: none;
	height: 2.2em;
	border-collapse: collapse;
}

.nt-menu a:link, .nt-menu a:visited, .nt-menu a:hover, .nt-menu a:active {
outline-color:-moz-use-text-color !important;
outline-style:none !important;
outline-width:0 !important;
padding-left:4%;
padding-right:4%;
text-decoration:none;
}

.nt-menu > li {
	float: left;
	white-space: nowrap;
}

.nt-menu > li > a {
	display: block;
	min-width: 100px;
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
}


.nt-menu > li ul {
	display: none;
	list-style: none;
	position: absolute;
	margin: -1px 0 0 0;
	z-index: 90;
	padding: 0;
}

.nt-menu > li ul a {
	display: block;
	width: 152px;
	padding: 5px;
	text-decoration: none;
}


.nt-menu > li ul li ul {
	margin: -29px 0 0 163px;
	position: absolute;
}

.nt-menu span {
	float: right;
}
.nt-month-set{
}

.nt-month-header{
text-align: center;
padding: 3px;
}

.nt-month-header-cell > div{
text-align: center;
font-weight: bold;
height: 1.2em !important;
background-color: #F8F8FF!important;
}

.nt-monthday-cell{
position:relative;/*5.23*/
cursor: pointer;
}

.nt-monthday-cell a{
text-decoration: none; 
}

.nt-monthday-empty-cell{
border: 1px solid transparent !important;
background-color: #FFFFF8;
}


.nt-month-big{
margin-bottom: 1em;
margin-right: 1em;
background: url("") repeat scroll 0 0 white; 
width:61.5em;
}

.nt-month-big > div > div {
width: 8em;
height: 8em;
padding: 3px;
border: 1px solid #DDDDDD;
margin: 1px;
float: left;
background-color: #FFFFFF;
}

.nt-content{
position: absolute;
top: 0;
left: 0;
background-repeat: no-repeat; 
background-position: bottom left;
width: 100%;
height: 100%;
text-align: center;
font-size: 1.1em;
}

.nt-label{
text-align: center;
font-size: 56pt;
color: #DDDDDD;
}

.nt-label-empty{
text-align: center;
font-size: 56pt;
color: #DDDDDD;
}

.nt-month-small{
margin-bottom: 1em;
margin-right: 1em;
background: url("") repeat scroll 0 0 white;
float:left;
width:14.25em;
}

.nt-month-small > div > div {
padding: 3px;
border: 1px solid #DDDDDD;
margin: 1px;
float: left;
width: 1.2em;
text-align: center;
}

.nt-label-small{
background-repeat: no-repeat; 
background-position: bottom left;
}

.nt-label-empty-small{
}

.nt-holiday{
color: #DDDDDD!important;
background-color: #444444!important;
}

/* Corner radius */
.cal-corner-right-small {
-moz-border-radius: 0px 6px 6px 0px; 
-webkit-border-radius:  0px 6px 6px 0px; 
border-radius:  0px 6px 6px 0px; 
/*behavior: url(PIE.htc);*/
}

.cal-corner-left-small { 
-moz-border-radius: 6px 0px 0px 6px; 
-webkit-border-radius:  6px 0px 0px 6px;
border-radius:  6px 0px 0px 6px; 
/*behavior: url(PIE.htc);*/
}

.cal-corner-all-small { 
-moz-border-radius: 6px; 
-webkit-border-radius: 6px; 
border-radius: 6px; 
/*behavior: url(PIE.htc);*/
}

.cal-corner-right {
-moz-border-radius: 0px 12px 12px 0px; 
-webkit-border-radius:  0px 12px 12px 0px; 
border-radius:  0px 12px 12px 0px; 
/*behavior: url(PIE.htc);*/
}

.cal-corner-left  {
-moz-border-radius: 12px 0px 0px 12px; 
-webkit-border-radius:  12px 0px 0px 12px;
border-radius:  12px 0px 0px 12px; 
/*behavior: url(PIE.htc);*/
}

.cal-corner-all { 
-moz-border-radius: 12px; 
-webkit-border-radius: 12px; 
border-radius: 12px; 
/*behavior: url(PIE.htc);*/
}

.cal-grad{
}


.cal-scroll{
width: 400px;
overflow: scroll;
overflow-x: scroll;
overflow-y: hidden;
}


.planner-header-row-size{
height:  22px;
width: 100%;
}

.planner-row-size{
height: 52px;
width: 100%;
border: 1px solid #DDDDDD;
}

.planner-names-width{
width: 10em;
}

.planner-data-width{
width: 2em;
}

.planner-header-data-height{
height: 14px;
padding: 3px;
}

.planner-data-height{
height: 44px;
padding: 3px;
}

.planner-border{
border: 1px solid #dddddd;
}


.ui-resizable-e{
border: 1px dashed #888888;
width: 3px;
}

.planner-data{
position:absolute;
padding-left:0;
padding-right:0;
border: 1px solid #888888;
}

.ui-resizable-handle {
z-index: 500;
}

.nt-relative{
position:relative;
}
.chromemenu{
width: 100%;
}

.chromesep {
background:#D0D0D0 none repeat scroll 0 0;
color:#404090;
padding:4px;
width:100%;
}

.chromemenu:after{ /*Add margin between menu and rest of content in Firefox*/
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.chromemenu ul{
border: 1px solid #BBB;
width: 100%;
background: url(images/chromebg.gif) center center repeat-x; /*Theme Change here*/
padding: 4px 0;
margin: 0;
text-align: left; /*set value to "left", "center", or "right"*/
}

.chromemenu ul li{
display: inline;
}

.chromemenu ul li a{
font:bold 12px Tahoma; 
color: #494949;
padding: 4px 7px;
margin: 0;
text-decoration: none;
border-right: 1px solid #DADADA;
}

.chromemenu ul li a:hover{
background: url(images/chromebg-over.gif) center center repeat-x; /*THEME CHANGE HERE*/
}

.chromemenu ul li a[onMouseover]:after{ /*HTML to indicate drop down link*/
content: " ";
/*content: " " url(/styles/images/chromedownimage.gif); /*uncomment this line to use an image instead*/
}

/* ------------------------------------------------------------------------ */
/* Style for Drop Down Menu */

.DropMenu{
position:absolute;
top: 0;
border: 1px solid #BBB; /*Theme Change here*/
border-bottom-width: 0;
line-height:18px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
}

.DropMenu a{
font:bold 12px Tahoma;
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*Theme Change here*/
padding: 2px 0;
text-decoration: none;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.DropMenu a:hover{ /*Theme Change here*/
background-color: #F0F0F0;
}

.DropMenu div{
margin-bottom: 0px;
margin-top: 0px;
}	.dhtmlgoodies_tabPane{
		height:21px;	/* Height of tabs */
		border-bottom:1px solid #919b9c;
	}
	.dhtmlgoodies_aTab{
		border-left:1px solid #919b9c;
		border-right:1px solid #919b9c;
		border-bottom:1px solid #919b9c;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		padding:5px;		
		
	}
	.dhtmlgoodies_tabPane DIV{
		float:left;
		height:100%;	/* Height of tabs */
		padding-left:3px;
		vertical-align:middle;
		background-repeat:no-repeat;
		background-position:bottom left;
		cursor:pointer;
		position:relative;
		bottom:-1px;
		margin-left:0px;
		margin-right:0px;
	}
	.dhtmlgoodies_tabPane .tabActive{
		background-image:url('images/tab_left_active.gif');
		margin-left:0px;
		margin-right:0px;	
		z-index:10;	
	}
	.dhtmlgoodies_tabPane .tabInactive{
		background-image:url('images/tab_left_inactive.gif');
		margin-left:0px;
		margin-right:0px;
		z-index:1;
	}

	.dhtmlgoodies_tabPane .inactiveTabOver{
		background-image:url('images/tab_left_over.gif');
		margin-left:0px;
		margin-right:0px;
	}
	.dhtmlgoodies_tabPane span{
		font-family:arial;
		vertical-align:top;
		font-size:11px;
		padding-left:3px;
		padding-right:3px;		
		line-height:21px;
		float:left;
	}
	.dhtmlgoodies_tabPane .tabActive span{
		padding-bottom:1px;
		line-height:20px;
	}
	
	.dhtmlgoodies_tabPane img{
		float:left;
	}/* Entire pane */
.dhtmlgoodies_xpPane{
background-color:#7190e0;
/*background-image:url('images/taskpanel_bg.png'); */
float:left;
/* height:660px; */
height:95%;
width:13em;
overflow: hidden;
margin-right: 1em;
}
.dhtmlgoodies_panel{
margin-left:10px;
margin-right:10px;
margin-top:10px;
border-left:1px solid #FFF;
border-bottom:1px solid #FFF;
font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
font-size:11px;
}

.panelContent{
font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
font-size:1em;
background-image:url('images/bg_pane_right.gif');
background-position:top right;
background-repeat:repeat-y;
border-left:0px solid #FFF;
border-right:0px solid #FFF;
border-bottom:0px solid #FFF;
padding-left:0px;
padding-right:0px;
overflow:hidden;
position:relative;
clear:both;
text-align:left;
}

.panelInside{
padding-left: 3px;
padding-right: 3px;
padding-top: 3px;
padding-bottom: 3px;
}

.panelInside a{
font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
font-size:1.2em;
}

.topBar{
background-image:url('images/bg_panel_top_right.gif');
background-repeat:no-repeat;
background-position:top right;
height:25px;
padding-right:5px;
cursor:pointer;
overflow:hidden;
}
.topBar span{
line-height:25px;
vertical-align:middle;
font-family:arial;
font-size:0.7em;
color:#215DC6;
font-weight:bold;
float:left;
padding-left:5px;
font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
font-size:11px;
}
.topBar img{
float:right;
cursor:pointer;
}
/* CSS Document */
html{
 margin:0;
 padding:0;
 height:100%;
 border:none
}

body {
font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
font-size: 12px;
}

form {
 padding: 0px;
 margin: 0px;
}


.HtmlWithFooter{
 margin:0;
 padding:0;
 height:100%;
 border:none;
}

.PageBodyWithFooter {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 background-color: #FFF;
 margin: 1em;
 height: 100%;
}


.MenuBody {
 background-color:#7190E0;
 height:100%;
 margin: 0;
 padding: 0px;
 border: 0px;
 border-color: #FF0000;
}

.MenuTable {
 padding: 0px;
 border-collapse: collapse;
 border:0;
 height:100%;
 background-color: #7190e0;
}
.menutable {
 padding: 0px;
 border-collapse: collapse;
 border: 0;
 background-color: #7190e0;
 height:100%;
}

.PageBody {
 background-color: #FFF;
 margin: 1em;
 height: 96%;
}


.Bold{font-weight: bold;}
.RightJustify{text-align: right;}
.CenterJustify{text-align: center;}
.LeftJustify{text-align: left;}
.FixedWidth{font-family: "Courier New";}
.FixedPitch{font-family: "Courier New";}
.NoWrap{white-space: nowrap;}
.Wrap{white-space: normal;}
.Upper{text-transform: uppercase;}
.Lower{text-transform: lowercase;}
.Capitalize{text-transform: capitalize;}
.nt-bold{font-weight: bold;}
.nt-normal{font-style:normal;font-weight:normal;}
.nt-italic {font-style:italic}
.nt-upper{text-transform: uppercase;}
.nt-lower{text-transform: lowercase;}
.nt-capitalize{text-transform: capitalize;}
.nt-right-justify{text-align: right;}
.nt-center-justify{text-align: center;}
.nt-left-justify{text-align: left;}
.Black{color: #000000!important;}
.Maroon{color: #800000!important;}
.Green{color: #008000!important;}
.Olive{color: #808000!important;}
.Orange{color: #FF8000!important;}
.Navy{color: #000080!important;}
.Purple{color: #800080!important;}
.Teal{color: #008080!important;}
.Gray{color: #808080!important;}
.Silver{color: #C0C0C0!important;}
.Red{color: #FF0000!important;}
.Lime{color: #00FF00!important;}
.Yellow{color: #FFFF00!important;}
.Blue{color: #0000FF!important;}
.Fuchsia{color: #FF00FF!important;}
.Aqua{color: #00FFFF!important;}
.White{color: #FFFFFF!important;}
.black{color: #000000!important;}
.maroon{color: #800000!important;}
.green{color: #008000!important;}
.olive{color: #808000!important;}
.orange{color: #FF8000!important;}
.navy{color: #000080!important;}
.purple{color: #800080!important;}
.teal{color: #008080!important;}
.gray{color: #808080!important;}
.silver{color: #C0C0C0!important;}
.red{color: #FF0000!important;}
.lime{color: #00FF00!important;}
.yellow{color: #FFFF00!important;}
.blue{color: #0000FF!important;}
.fuchsia{color: #FF00FF!important;}
.aqua{color: #00FFFF!important;}
.white{color: #FFFFFF!important;}

.black-bg{background-color: #000000!important;}
.maroon-bg{background-color: #800000!important;}
.green-bg{background-color: #008000!important;}
.olive-bg{background-color: #808000!important;}
.orange-bg{background-color: #FF8000!important;}
.navy-bg{background-color: #000080!important;}
.purple-bg{background-color: #800080!important;}
.teal-bg{background-color: #008080!important;}
.gray-bg{background-color: #080808!important;}
.silver-bg{background-color: #0C0C0C!important;}
.red-bg{background-color: #FF0000!important;}
.lime-bg{background-color: #00FF00!important;}
.yellow-bg{background-color: #FFFF00!important;}
.blue-bg{background-color: #0000FF!important;}
.fuchsia-bg{background-color: #FF00FF!important;}
.aqua-bg{background-color: #00FFFF!important;}
.white-bg{background-color: #FFFFFF!important;}

.alert {
font-weight: bold;
/*height:1.7em;*/
padding-left:0.5em;
padding-top:0.5em;
padding-bottom:0.5em;
margin: 0.5em;
}

.legend {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 color: #00FF00;
 font-size: 20px;
}

.PageBodyDiv {
 height:100%;
}

.pagediv {
 width: 100%;
 height: 100%;
 left: 0px;
 top: 0px;
 position: absolute;
 z-index: 0;
}

.pagedivcontents {
 z-index: 1;
 left: 0px;
 top: 0px;
 position: absolute;
 margin: 10px;
}

.ErrorDiv {
}

.BrowseContent {
}

.FormContent {
}

table.defaulttable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 padding: 4px;
 margin: 0px 0px 3px;
 border-collapse: collapse;
 border-color: #A0A0A0;
 border-top: 1px solid #CCC;
 border-left: 1px solid #CCC;
 border-bottom: 1px solid #555;
 border-right: 1px solid #555;
}

table.defaulttable th {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #333;
 font-weight: bold;
 padding: 4px;
 border-collapse: collapse;
 border-color: #A0A0A0;
 border-top: 1px solid #555;
 border-left: 1px solid #555;
 border-bottom: 1px solid #CCC;
 border-right: 1px solid #CCC;
 border: 1px solid #EDEDED;
}

table.BrowseTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #333;
 margin: 5px 0px 5px;
 border-color: #888;
 border-top: 1px solid #888;
 border-left: 1px solid #888;
 border-bottom: 1px solid #888;
 border-right: 1px solid #888;
 padding: 0px;
 border-spacing: 0px;
}

table.BrowseTable th {
 background-image: url('../images/BrowseHeader.png');
 font-weight: bold;
 padding: 3px;
 border-top: 1px solid #AAA;
 border-bottom: 1px solid #FFF;
 border-left: 1px solid #CCC;
 border-right: 1px solid #EEE;
 border-collapse: separate;
 white-space: nowrap;
}

table.BrowseTable td {
 padding: 2px;
 border-left: 0px solid #AAA;
 border-right: 1px solid #EEE;
 border-bottom: 1px solid #CCC;
 border-top: 1px solid #EEE;
 height: 20px;
 /* white-space: nowrap; */
}

.BrowseFooter {
 font-weight: bold;
 color: #000080;
}

.BrowseEntry{
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 background-color: #FDFDFD;
 border: 1px solid #888;
 padding-left: 2px;
 padding-right: 2px;
 vertical-align:top;
}

div.browsetableouter{
 background-color : #EEEEEE;
 float: left;
 clear: both;
}

tr.gb1 {
 background-color: #EEEEEE;
}

tr.gb2 {
 background-color: #FFFFFF;
}

tr.gb3 {
 background-color: #E2F9FE;
}

td.gr1 {
 background-color: #EEEEEE;
}

td.gr2 {
 background-color: #FFFFFF;
}

a {
}

.MainHeading {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 14px;
 color: #999;
 font-weight: bold;
}

.SubHeading {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 12px;
 color: #BBB;
 font-weight: normal;
}

.MainTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 padding: 4px;
 border-collapse: collapse;
 border-color: #A0A0A0;
 border-top: 1px solid #CCC;
 border-left: 1px solid #CCC;
 border-bottom: 1px solid #555;
 border-right: 1px solid #555;
}

.MainTable th {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 13px;
 color: #333;
 font-weight: bold;
 padding: 4px;
 border-collapse: collapse;
 border-color: #A0A0A0;
 border-top: 1px solid #555;
 border-left: 1px solid #555;
 border-bottom: 1px solid #CCC;
 border-right: 1px solid #CCC;
}

.MainTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #333;
 padding: 4px;
 border-collapse: collapse;
 border-color: #A0A0A0;
 border-top: 1px solid #555;
 border-left: 1px solid #555;
 border-bottom: 1px solid #CCC;
 border-right: 1px solid #CCC;
}

.ServerSortHeader {
 font-family: Webdings;
}

.Locator {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
}

/* Basic Form */

.FormContent{
}

.FormTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 padding: 4px;
 border-collapse: collapse;
 text-align: left;
 margin-left: 10px;
 border: 0px solid #800;
 color: #333;
/*  float: left; causes tab on xp-tabs to break*/
}

.FormTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 padding: 4px;
 border: 0px solid #888;
 font-weight: normal;
 /* white-space: nowrap; */
}

.FormTable img{
 margin-bottom: 4px;
}

.FormPrompt {
 font-weight: bold;
 height: 1.5em;
 display:table-cell;
 vertical-align:top;
 font-size: 11px;
 float: left; /*needed for multiple forms fields in a cell */
 border-collapse: collapse;
 margin-right: 5px;
}

.FormComments {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #BBB;
 height: 1.5em;
 display:table-cell;
 vertical-align:top;
 float: left;
}

.FormEntry{
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 background-color: #FDFDFD;
 border: 1px solid #888;
 padding-left: 2px;
 padding-right: 2px;
 /*height: 1.5em;  text boxes also use this class */
 /*display:table-cell; */
 vertical-align:top;
}

.FormEntryRight{
 direction: rtl;
}

.formrqd {
 background-color: #FEF5E2;
}

.formreadonly {
 background-color: #E2F9FE;
}

.formerror {
 background-color: #FFBBBB;
}

.SelectList {
 color: #333;
 border-collapse: collapse;
}

.SelectList1 {
 background-color: #EEEEEE;
/* padding: 3px;*/
}
.SelectList2 {
 background-color: #FFFFFF;
/* padding: 3px;*/
}

div.formcorner {
 background-color : #EEEEEE;
}

.TinyForm {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 font-weight: normal;
 padding: 0px;
 border-collapse: collapse;
 text-align: left;
 margin-left: 0px;
 border: 0px;
}

.TinyForm th {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 font-weight: normal;
 color: #333;
 padding: 0px;
 border: 0;
}

.TinyForm input {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 font-weight: normal;
 color: #333;
}

.InvisibleTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 13px;
 border-collapse: collapse;
 padding: 0px;
 border: 0px solid;
}

.InvisibleTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 border: 0;
 font-size: 13px;
 margin: 0;
 padding: 0;
}

div.headingouter{
 background-color : #EEEEEE;
 clear: both;
}

.headingtable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 24px;
 color: #999;
 width: 100%;
 border: 0;
}

.headingtable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 24px;
 color: #999;
 text-align: center;
 border: 0;
}

.footertable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #999;
 text-align: center;
 width: 100%;
 border: 0;
}

.footerTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #999;
 text-align: center;
 border: 0;
}

/* Buttons */
.MainButton {
 width: 80px;
 height: 26px;
 margin: 3px 1px;
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
}

.MainButtonTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.MainButtonTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.WideButton {
 width: 200px;
 height: 26px;
 margin: 3px 1px;
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
}

.WideButtonTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.WideButtonTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.SmallButton {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
 height: 20px;
}

.SmallButtonTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.SmallButtonTable td{
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.LookupButton {
 width: 26px;
 height: 20px;
 cursor: pointer;
}

.LookupButtonTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.LookupButtonTable td{
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.Button1  {
 width: 75px;
 height: 25px;
 text-align: center;
 cursor: pointer;
}
.Button2  {
 width: 85px;
 height: 25px;
 text-align: center;
 cursor: pointer;
}
.Button3  {
 width: 100px;
 height: 25px;
 text-align: center;
 cursor: pointer;
}
.Button4  {
 width: 30px;
 height: 25px;
 text-align: center;
 cursor: pointer;
}
.Button5  {
 width: 50px;
 height: 25px;
 text-align: center;
 cursor: pointer;
}
.Button100 {
 width: 75px;
 height: 25px;
 background-image: url('button.png');
 text-align: center;
 cursor: pointer;
}

/* InForm button is handy for buttons used "inline" in a form */
.InFormButton {
 width: 80px;
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
}

.InFormButtonTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.InFormButtonTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

/* generic div used for forms */
.fdiv {
 border-collapse: collapse;
 margin-top: 0px;
 margin-right: 5px;
 display: inline;
}

/* generic div used for form fields */
.adiv {
 border-collapse: collapse;
 float: left;
 margin-top: 0px;
 margin-right: 5px;
 display: inline;
}

/* generic div used for hidden form fields */
.hdiv {
 border-collapse: collapse;
 margin-top: 0px;
 margin-right: 0px;
 display: inline;
}

.aFooter {
 border-top: 4px solid #0080C0;
 border-left: 0px;
 border-bottom: 0px;
 border-right: 0px;
 font-family: Century Gothic,Tahoma,Verdana,Arial,Helvetica,sans-serif;
 font-size: 10px;
 font-weight: normal;
 color: #888;
 width: 100%;
 background-color: #FAFAFA;
 padding: 4px;
 border-collapse: collapse;
 position: absolute;
 bottom: 0px;
 left: 0px;
 text-align:left;
}

.aHeader {
 border-top: 0px;
 border-left: 0px;
 border-bottom: 4px solid #0080C0;
 border-right: 0px;
 font-family: Century Gothic,Tahoma,Verdana,Arial,Helvetica,sans-serif;
 font-size: 24px;
 font-weight: normal;
 color: #888;
 width: 100%;
 background-color: #FAFAFA;
 padding: 4px;
 border-collapse: collapse;
}

.aHeader td{
 padding: 4px;
}

.ScrollBrowse {
 height: 300px;
 overflow: auto;
}

.nt-plain{
margin-bottom: 1em;
}

.nt-rounded{
background-color:#EEEEFF;
margin-bottom: 0.5em;
margin-top: 0.5em;
padding: 5px;
}

.nt-rounded-header{
padding:5px;
margin-bottom: 1em;
}

/* wizards */
.nt-wizard {
display: none;
padding: 1em;
}

.FormWizard {
 background-color: #FAFAFA;
 border-bottom:1px solid #EEEEEE;
 border-top:1px solid #EEEEEE;
}

.nt-html{
}

.nt-body {
 background-color: #FFF;
 margin: 1em;
 height: 96%;
}

.nt-body-div {
 height:100%;
}

/*------------------------------------------------------------*/
/*general layout*/
.nt-wide{width:100%;}
.nt-left{float: left; margin-right: 5px;}
.nt-hard-left{float: left;}
.nt-center{margin:auto;padding:0;}
.nt-right{float: right;}
.nt-nowrap{white-space: nowrap;}
.nt-wrap{white-space: normal;}
.nt-width-0{width:0;}
.nt-width-5{width:5%;}
.nt-width-10{width:10%;}
.nt-width-15{width:15%;}
.nt-width-20{width:20%;}
.nt-width-25{width:25%;}
.nt-width-30{width:30%;}
.nt-width-33{width:33%;}
.nt-width-35{width:35%;}
.nt-width-40{width:40%;}
.nt-width-45{width:45%;}
.nt-width-50{width:50%;}
.nt-width-55{width:55%;}
.nt-width-60{width:60%;}
.nt-width-65{width:65%;}
.nt-width-66{width:66%;}
.nt-width-70{width:70%;}
.nt-width-75{width:75%;}
.nt-width-80{width:80%;}
.nt-width-85{width:85%;}
.nt-width-90{width:90%;}
.nt-width-95{width:95%;}
.nt-width-99{width:99%;}
.nt-width-100{width:100%;}

.nt-width-50px{width:50px;}
.nt-width-75px{width:75px;}
.nt-width-100px{width:100px;}
.nt-width-110px{width:110px;}
.nt-width-125px{width:125px;}
.nt-width-150px{width:150px;}
.nt-width-200px{width:200px;}
.nt-width-300px{width:300px;}
.nt-width-400px{width:400px;}
.nt-width-500px{width:500px;}

.nt-height-10px{height:10px;}
.nt-height-15px{height:15px;}
.nt-height-20px{height:20px;}


.nt-margin-top{margin-top: 0.5em !important;}
.nt-margin-right{margin-right: 0.5em !important;}
.nt-margin-bottom{margin-bottom: 0.5em !important;}
.nt-margin-left{margin-left: 0.5em !important;}

.nt-margin-top-0{margin-top:0 !important;}
.nt-margin-right-0{margin-right:0 !important;}
.nt-margin-bottom-0{margin-bottom:0 !important;}
.nt-margin-left-0{margin-left:0 !important;}

.nt-margin-top-1{margin-top: 1em !important;}
.nt-margin-right-1{margin-right: 1em !important;}
.nt-margin-bottom-1{margin-bottom: 1em !important;}
.nt-margin-left-1{margin-left: 1em !important;}

.nt-margin-top-15{margin-top: 1.5em !important;}
.nt-margin-right-15{margin-right: 1.5em !important;}
.nt-margin-bottom-15{margin-bottom: 1.5em !important;}
.nt-margin-left-15{margin-left: 1.5em !important;}

.nt-padding-left-1{padding-left: 1em !important;}
.nt-padding-right-1{padding-right: 1em !important;}
.nt-padding-top-1{padding-top: 1em !important;}
.nt-padding-bottom-1{padding-bottom: 1em !important;}

.nt-padding-1{padding: 1em !important;}
.nt-padding-3rd{padding: 0.33em !important;}
.nt-padding-5px{padding: 5px !important;}
.nt-padding-2px{padding: 2px !important;}

.nt-onright{
border-collapse: collapse;
display: inline;
/*margin-left:0.5em;*/
float: left;
min-width: 55%;
}

.nt-inline {
 border-collapse: collapse;
 display: inline-block;
}

.nt-fix-bottom-left{
position:absolute;
bottom:0;
left:0;
}

.nt-fix-bottom-right{
position:absolute;
bottom:0;
right:0;
}


.nt-fix-top-left{
position:absolute;
top:0;
left:0;
}

.nt-fix-top-right{
position:absolute;
top:0;
right:0;
}

/*buttons general*/
.nt-small-button{height: 1.6em;width: 1.6em !important;}
.nt-small-button span{padding: 0.1em ! important;}
.nt-button{min-width: 7em;font-size: 12px;}

/* general headers*/
.nt-header{color:#999999;font-weight:normal;padding: 0.2em;}

.nt-site-header{
border-bottom:5px solid #7190E0;
padding:0%;
width:100%;
font-size: 3em;
font-weight: normal;
}

.nt-site-footer{
border-top:5px solid #7190E0;
width:100%;
font-size: 1em;
font-weight: normal;
}

/* Specific Headers */
.nt-form-header{font-size: 2em;}
.nt-form-header-sub{font-size: 1.5em;}
.nt-browse-header{font-size: 2em;}
.nt-browse-header-sub{font-size: 1.5em;}

.nt-header-table{font-size:3em;width:100%;border:0;}
.nt-footer-table {font-size:0.8em;width: 100%;border:0;}

/* form specific*/
.nt-tab-outer{
}

.nt-tab-inner{
}

.nt-tab-title{
font-size: 1.2em;
padding-left: 5px;
padding-right: 5px;
}

.nt-tab-title legend{
}

.nt-form-table {
 padding: 4px;
 border-collapse: collapse;
 text-align: left;
 margin-left: 10px;
 border: 0px;
/*  float: left; causes tab on xp-tabs to break*/
}

.nt-form-table td {
 border: 0px;
 font-weight: normal;
 vertical-align: top;
 /* white-space: nowrap; */
}

.nt-form-table img{
 margin-bottom: 4px;
}


.nt-form-div{
 border-collapse: collapse;
 float: left;
 margin-top: 0px;
 margin-right: 5px;
 display: inline;
}


.nt-formcell{
 display:table-cell;
 vertical-align:top;
 border-collapse: collapse;
 padding: 4px;
}

.nt-prompt{
 font-weight: bold;
 float: left; /*needed for multiple forms fields in a cell */
 margin-right: 5px;
 color: #444444;
}

.nt-prompt-span{
min-width: 130px;
}

.nt-display{
 float: left; /*needed for multiple forms fields in a cell */
 margin-right: 5px;
}

.nt-entry{
 background-color: #FDFDFD;
 border: 1px solid #888;
 padding-left: 2px;
 padding-right: 2px;
 /*height: 1.5em;  text boxes also use this class */
 /*display:table-cell; */
 vertical-align:top;
}

.nt-select{padding-right:0px;margin-right:1em;}

.nt-entry-right{ text-align: right;}
.nt-entry-normal { background-color: #FDFDFD;}
.nt-entry-required { background-color: #FEF5E2;}
.nt-entry-readonly { background-color: #E2F9FE;}
.nt-entry-error { background-color: #FFBBBB;}

.nt-comment{
 color: #A0A0A0;
 float: left;
}

.nt-comment-error{padding-left: 0.5em;padding-right: 0.5em;}

.nt-tiny-form {
 font-size: 80%;
 padding: 0px;
 border-collapse: collapse;
 text-align: left;
 margin-left: 0px;
 border: 0px;
}

.nt-tiny-form th {
 color: #333;
}

.nt-tiny-form input { color: #333;}


/* browse specific */

.nt-browse-table{
 margin: 5px 0px 5px;
 border-color: #888;
 border-top: 1px solid #888;
 border-left: 1px solid #888;
 border-bottom: 1px solid #888;
 border-right: 1px solid #888;
 padding: 0px;
 border-spacing: 0px;
}

.nt-browse-table tr{
vertical-align: top;
}
.nt-browse-table th{
white-space: nowrap;
font-size:1.1em;
}

.nt-browse-table td {
padding-left: 5px;
padding-right: 5px;
border-left: 0px solid #AAA;
border-right: 1px solid #EEE;
border-bottom: 1px solid #CCC;
border-top: 1px solid #EEE;
}

.nt-browse-table-footer{
font-weight: bold;
color: #000080;
font-size:1.1em
}

.BrowseEntry{
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 background-color: #FDFDFD;
 border: 1px solid #888;
 padding-left: 2px;
 padding-right: 2px;
 vertical-align:top;
}

.nt-icon-left{
float:left;
margin-top:3px;
margin-left:0px;
}

/* generic div for "_busy" graphic */
.nt-busy {
 position: absolute;
 background-color: transparent;
 top: 100%;
 left: 100%;
 margin-top: -36px;
 margin-left: -36px;
 width: 32px;
 height: 32px;
}

/* for compatability with static sites */
.bdiv {
 position: absolute;
 background-color: transparent;
 top: 100%;
 left: 100%;
 margin-top: -36px;
 margin-left: -36px;
 width: 32px;
 height: 32px;
 visibility: hidden;
}

.nt-locator{
}

.nt-locator td div img{
margin-bottom: 2px;
}

.nt-alert {
font-weight: bold;
height:1.7em;
padding-left:0.5em;
padding-top:0.5em;
margin: 0.5em;
}

.nt-contract-icon{
background: transparent;
border: 0px;
display: block;
margin-top: 0.3em;
}

.nt-browse-resizable{
height: 99%;
overflow: scroll;
overflow-y: scroll;
overflow-x: hidden;
}

.nt-fakeget {
 text-decoration: underline;
 cursor: pointer;
}


/* keep this near the bottom */
.nt-hidden{
 visibility: hidden;
 border-collapse: collapse;
 margin: 0 !important;
 padding: 0 !important;
 display: none; /* was inline in 5.05 and earlier */
 height: 0 !important;
}

.nt-menu-item{
margin-top: 0.3em;
margin-bottom: 0.3em;
}

.nt-test{
}

/* Corner radius */
.nt-corner-tl { -moz-border-radius: 4px 0px 0px 0px; -webkit-border-radius: 4px 0px 0px 0px; border-radius: 4px 0px 0px 0px; behavior: url(PIE.htc);}
.nt-corner-tr { -moz-border-radius: 0px 4px 0px 0px; -webkit-border-radius: 0px 4px 0px 0px; border-radius: 0px 4px 0px 0px; behavior: url(PIE.htc);}
.nt-corner-bl { -moz-border-radius: 0px 0px 4px 0px; -webkit-border-radius: 0px 0px 4px 0px; border-radius: 0px 0px 4px 0px; behavior: url(PIE.htc);}
.nt-corner-br { -moz-border-radius: 0px 0px 0px 4px; -webkit-border-radius: 0px 0px 0px 4px; border-radius: 0px 0px 0px 4px; behavior: url(PIE.htc);}
.nt-corner-top { -moz-border-radius: 4px 4px 0px 0px; -webkit-border-radius: 4px 4px 0px 0px; border-radius: 4px 4px 0px 0px; behavior: url(PIE.htc);}
.nt-corner-bottom { -moz-border-radius: 0px 0px 4px 4px; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px; behavior: url(PIE.htc);}
.nt-corner-right { -moz-border-radius: 0px 4px 4px 0px; -webkit-border-radius: 0px 4px 4px 0px; border-radius: 0px 4px 4px 0px; behavior: url(PIE.htc);}
.nt-corner-left { -moz-border-radius: 4px 0px 0px 4px; -webkit-border-radius: 4px 0px 0px 4px; border-radius: 4px 0px 0px 4px; behavior: url(PIE.htc);}
.nt-corner-all { -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; behavior: url(PIE.htc);}


/* simulated XP tabs with jQuery tab widget */
.ui-tabs .nt-xptab-title li a{
padding-left: 3px;
padding-right: 3px;
padding-top: 0;
padding-bottom: 0;
}

.ui-tabs .nt-xptab-title li{
border: 1px solid #CCCCCC!important;
padding-top:2px;
}

.ui-tabs .nt-xptab-title li.ui-tabs-selected {
border-bottom:1px solid #F7F7F7!important;
border-top: 3px solid #EF8C08 !important;
padding-top:0px;
padding-bottom:0px;
}

.ui-tabs .nt-xptab-title li.ui-tabs-selected a{
background: #F7F7F7;
}

.nt-xptab-title, .nt-xptab-title a{ 
background: white;
border: 0;
font-size: 11px;
color: black!important;
font-weight: normal;
font-family: arial;
line-height: 21px;
}

.ui-dialog .ui-dialog-titlebar-access { position: absolute; right: 1.6em; top: 53%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.nt-browse-titlebar-access{float:right;padding-top:2px;}
.nt-form-page-access{position:absolute;top:12px;right:12px;}

.nt-countdown{
font-size:0.6em!important;
color: red;
}