
html{
margin:0;
padding:0;
height:100%;
border:none;
}

body{
font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Arial, sans-serif;
margin-bottom:1.571em;
font-size:0.8em;
line-height:1.571em;
}

a {
font-size: 1em;
}

.forums-test{
width: 1px;
}

.PageBody{
font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Arial, sans-serif;
margin-bottom:1.571em;
font-size:0.8em;
line-height:1.571em;
}


.fakeget {
 /* should be moved into netweb.css */
 text-decoration: underline;
 cursor: pointer;
}

.forum-form{
margin-right: 15em;
}

.forum-browse{
}

.forum-browse-table{
 margin: 5px 0px 5px;
 border-collapse: collapse;
 }

.forum-browse-table th{
white-space: nowrap;
font-size:1.1em;
}

forum-browse-table tbody {
border-collapse: collapse;
border: 0;
}
.forum-browse-table td {
border-collapse: collapse;
border-color: transparent;
border: 0;
padding-left: 0.3em;
padding-right: 0.3em;
}

/* ---------------------------------------------------- PageHeaderTag Start*/
.forum-header-div {
width: 100%;
height: 5em;
border-bottom: 1px solid #EAEAEA;
margin-bottom: 1em;
}

.forum-header-image-div{
padding-right: 4em;
}

.forum-header-text-div{
padding-left: 4em; 
padding-top: 0.7em;
font-size: 2em;
color: #22449F;
}

.forum-menu-div{
width: 18%;
max-width: 14em;
}

.forum-main-div{
width: 80%;
margin-left: 0.5em;
margin-top: 0em;
padding-top: 0em;
}

.forum-login-div {
padding-top: 1em;
}

.forum-footer-div{
width: 100%;
border-top: 1px solid #EAEAEA;
color: #BABABA;
margin-top: 1em;
}

.TopicName{
font-size: 1.2em;
color: #336699;
font-weight: regular;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.UserNameTopic {
color:#4B5765;
}

.forum-browse-topics{
width: 25%;
}

.forum-topic-buttonset{
height: 2.6em;
}

.forum-browse-entry{
width: 55%;
}

.forum-entry-header{
font-size: 1em;
}

.nt-invisible{
 visibility: hidden;
}

.forum-entry-sub-header{
color: #336699; 
/*visibility: hidden;*/
/*height: 2.05em;*/

}

.UserNameEntry {
font-size:1.2em;
color:#2361A1;
font-weight:bold;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.forum-entries-narrow-a{
width: 2em;
max-width: 2em;
}

.forum-entries-narrow-b{
width: 3em;
max-width: 3em;
}

.forum-entries-narrow-c{
width: 6em;
max-width: 6em;
}

/* ---------------------------------------------------- PageHeaderTag End*/
/*
.sideloginDiv {
border-top: 0px solid #EAEAEA;
border-left: 0px solid #EAEAEA;
border-bottom: 0px solid #EAEAEA;
border-right: 4px solid #EAEAEA;
background-color: #FAFAFA;
width:190px;
height:95px;
}



PageBodyDiv {
height: 100%;
}



*/
/*
table.EntriesTable {
color: #333;
margin: 5px 0px 5px;
border-collapse: collapse;
border: 0px;
padding: 2px;
border-spacing: 0px;
font-size: 0.8em;
/*width: 400px; 
}

table.EntriesTable th {
border-style: none;
border-color: inherit;
border-width: 0px;
background-image: url('../images/BrowseHeader.png');
font-weight: bold;
padding: 3px;
border-collapse: collapse;
}

table.EntriesTable td {
padding: 2px;
margin: 0px;
border: 0px;
}

table.TopicsTable {
color: #333;
margin: 5px 0px 5px;
border-collapse: collapse;
border: 0px;
padding: 2px;
border-spacing: 0px;
width: 500px;
font-size: 0.9em;
}

table.TopicsTable th {
border-style: none;
border-color: inherit;
border-width: 0;
background-image: url('../images/BrowseHeader.png');
font-weight: bold;
padding: 3px;
border-collapse: collapse;
}

table.TopicsTable td {
margin: 0px;
padding: 2px;
border-bottom: 0px;
}

.hline {
background-image: url('../images/line1.png');
background-repeat: repeat-x;
height: 4px;
}

.hline td{
background-image:url('../images/line1.png');
background-repeat:repeat-x;
}

.NewTopicButton {
width: 110px;
height: 26px;
margin: 3px 1px;
cursor: pointer;
padding: 0px;
vertical-align: middle;
border: 0;
text-align: center;
background-color: transparent;
background-image: url('../images/flatbuttonwg.png');
background-repeat: no-repeat;
}

.NewTopicButtonTable {
cursor: pointer;
padding: 0px;
margin: 0px;
}

.NewTopicButtonTable td {
cursor: pointer;
padding: 0px;
margin: 0px;
} */

.loginbutton {
/*width: 60px;*/
/*height: 26px;
margin: 3px 1px;
cursor: pointer; 
padding: 0px;*/
/*vertical-align: middle;*/
/*border: 0;/*
text-align: center;
/*background-color: transparent;
background-image: url('../images/flatbuttong.png');
background-repeat: no-repeat;*/
}

/*.loginbuttonTable {
cursor: pointer;
padding: 0px;
margin: 0px;
}

.loginbuttonTable td {
cursor: pointer;
padding: 0px;
margin: 0px;
}*/
