/* CSS Document */
html{
 margin:0;
 padding:0;
 height:100%;
 border:none
}

body {
font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
font-size: 12px;
}

form {
 padding: 0px;
 margin: 0px;
}


.HtmlWithFooter{
 margin:0;
 padding:0;
 height:100%;
 border:none;
}

.PageBodyWithFooter {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 background-color: #FFF;
 margin: 1em;
 height: 100%;
}


.MenuBody {
 background-color:#7190E0;
 height:100%;
 margin: 0;
 padding: 0px;
 border: 0px;
 border-color: #FF0000;
}

.MenuTable {
 padding: 0px;
 border-collapse: collapse;
 border:0;
 height:100%;
 background-color: #7190e0;
}
.menutable {
 padding: 0px;
 border-collapse: collapse;
 border: 0;
 background-color: #7190e0;
 height:100%;
}

.PageBody {
 background-color: #FFF;
 margin: 1em;
 height: 96%;
}


.Bold{font-weight: bold;}
.RightJustify{text-align: right;}
.CenterJustify{text-align: center;}
.LeftJustify{text-align: left;}
.FixedWidth{font-family: "Courier New";}
.FixedPitch{font-family: "Courier New";}
.NoWrap{white-space: nowrap;}
.Wrap{white-space: normal;}
.Upper{text-transform: uppercase;}
.Lower{text-transform: lowercase;}
.Capitalize{text-transform: capitalize;}
.nt-bold{font-weight: bold;}
.nt-normal{font-style:normal;font-weight:normal;}
.nt-italic {font-style:italic}
.nt-upper{text-transform: uppercase;}
.nt-lower{text-transform: lowercase;}
.nt-capitalize{text-transform: capitalize;}
.nt-right-justify{text-align: right;}
.nt-center-justify{text-align: center;}
.nt-left-justify{text-align: left;}
.Black{color: #000000!important;}
.Maroon{color: #800000!important;}
.Green{color: #008000!important;}
.Olive{color: #808000!important;}
.Orange{color: #FF8000!important;}
.Navy{color: #000080!important;}
.Purple{color: #800080!important;}
.Teal{color: #008080!important;}
.Gray{color: #808080!important;}
.Silver{color: #C0C0C0!important;}
.Red{color: #FF0000!important;}
.Lime{color: #00FF00!important;}
.Yellow{color: #FFFF00!important;}
.Blue{color: #0000FF!important;}
.Fuchsia{color: #FF00FF!important;}
.Aqua{color: #00FFFF!important;}
.White{color: #FFFFFF!important;}
.black{color: #000000!important;}
.maroon{color: #800000!important;}
.green{color: #008000!important;}
.olive{color: #808000!important;}
.orange{color: #FF8000!important;}
.navy{color: #000080!important;}
.purple{color: #800080!important;}
.teal{color: #008080!important;}
.gray{color: #808080!important;}
.silver{color: #C0C0C0!important;}
.red{color: #FF0000!important;}
.lime{color: #00FF00!important;}
.yellow{color: #FFFF00!important;}
.blue{color: #0000FF!important;}
.fuchsia{color: #FF00FF!important;}
.aqua{color: #00FFFF!important;}
.white{color: #FFFFFF!important;}

.black-bg{background-color: #000000!important;}
.maroon-bg{background-color: #800000!important;}
.green-bg{background-color: #008000!important;}
.olive-bg{background-color: #808000!important;}
.orange-bg{background-color: #FF8000!important;}
.navy-bg{background-color: #000080!important;}
.purple-bg{background-color: #800080!important;}
.teal-bg{background-color: #008080!important;}
.gray-bg{background-color: #080808!important;}
.silver-bg{background-color: #0C0C0C!important;}
.red-bg{background-color: #FF0000!important;}
.lime-bg{background-color: #00FF00!important;}
.yellow-bg{background-color: #FFFF00!important;}
.blue-bg{background-color: #0000FF!important;}
.fuchsia-bg{background-color: #FF00FF!important;}
.aqua-bg{background-color: #00FFFF!important;}
.white-bg{background-color: #FFFFFF!important;}

.alert {
font-weight: bold;
/*height:1.7em;*/
padding-left:0.5em;
padding-top:0.5em;
padding-bottom:0.5em;
margin: 0.5em;
}

.legend {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 color: #00FF00;
 font-size: 20px;
}

.PageBodyDiv {
 height:100%;
}

.pagediv {
 width: 100%;
 height: 100%;
 left: 0px;
 top: 0px;
 position: absolute;
 z-index: 0;
}

.pagedivcontents {
 z-index: 1;
 left: 0px;
 top: 0px;
 position: absolute;
 margin: 10px;
}

.ErrorDiv {
}

.BrowseContent {
}

.FormContent {
}

table.defaulttable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 padding: 4px;
 margin: 0px 0px 3px;
 border-collapse: collapse;
 border-color: #A0A0A0;
 border-top: 1px solid #CCC;
 border-left: 1px solid #CCC;
 border-bottom: 1px solid #555;
 border-right: 1px solid #555;
}

table.defaulttable th {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #333;
 font-weight: bold;
 padding: 4px;
 border-collapse: collapse;
 border-color: #A0A0A0;
 border-top: 1px solid #555;
 border-left: 1px solid #555;
 border-bottom: 1px solid #CCC;
 border-right: 1px solid #CCC;
 border: 1px solid #EDEDED;
}

table.BrowseTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #333;
 margin: 5px 0px 5px;
 border-color: #888;
 border-top: 1px solid #888;
 border-left: 1px solid #888;
 border-bottom: 1px solid #888;
 border-right: 1px solid #888;
 padding: 0px;
 border-spacing: 0px;
}

table.BrowseTable th {
 background-image: url('../images/BrowseHeader.png');
 font-weight: bold;
 padding: 3px;
 border-top: 1px solid #AAA;
 border-bottom: 1px solid #FFF;
 border-left: 1px solid #CCC;
 border-right: 1px solid #EEE;
 border-collapse: separate;
 white-space: nowrap;
}

table.BrowseTable td {
 padding: 2px;
 border-left: 0px solid #AAA;
 border-right: 1px solid #EEE;
 border-bottom: 1px solid #CCC;
 border-top: 1px solid #EEE;
 height: 20px;
 /* white-space: nowrap; */
}

.BrowseFooter {
 font-weight: bold;
 color: #000080;
}

.BrowseEntry{
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 background-color: #FDFDFD;
 border: 1px solid #888;
 padding-left: 2px;
 padding-right: 2px;
 vertical-align:top;
}

div.browsetableouter{
 background-color : #EEEEEE;
 float: left;
 clear: both;
}

tr.gb1 {
 background-color: #EEEEEE;
}

tr.gb2 {
 background-color: #FFFFFF;
}

tr.gb3 {
 background-color: #E2F9FE;
}

td.gr1 {
 background-color: #EEEEEE;
}

td.gr2 {
 background-color: #FFFFFF;
}

a {
}

.MainHeading {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 14px;
 color: #999;
 font-weight: bold;
}

.SubHeading {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 12px;
 color: #BBB;
 font-weight: normal;
}

.MainTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 padding: 4px;
 border-collapse: collapse;
 border-color: #A0A0A0;
 border-top: 1px solid #CCC;
 border-left: 1px solid #CCC;
 border-bottom: 1px solid #555;
 border-right: 1px solid #555;
}

.MainTable th {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 13px;
 color: #333;
 font-weight: bold;
 padding: 4px;
 border-collapse: collapse;
 border-color: #A0A0A0;
 border-top: 1px solid #555;
 border-left: 1px solid #555;
 border-bottom: 1px solid #CCC;
 border-right: 1px solid #CCC;
}

.MainTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #333;
 padding: 4px;
 border-collapse: collapse;
 border-color: #A0A0A0;
 border-top: 1px solid #555;
 border-left: 1px solid #555;
 border-bottom: 1px solid #CCC;
 border-right: 1px solid #CCC;
}

.ServerSortHeader {
 font-family: Webdings;
}

.Locator {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
}

/* Basic Form */

.FormContent{
}

.FormTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 padding: 4px;
 border-collapse: collapse;
 text-align: left;
 margin-left: 10px;
 border: 0px solid #800;
 color: #333;
/*  float: left; causes tab on xp-tabs to break*/
}

.FormTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 padding: 4px;
 border: 0px solid #888;
 font-weight: normal;
 /* white-space: nowrap; */
}

.FormTable img{
 margin-bottom: 4px;
}

.FormPrompt {
 font-weight: bold;
 height: 1.5em;
 display:table-cell;
 vertical-align:top;
 font-size: 11px;
 float: left; /*needed for multiple forms fields in a cell */
 border-collapse: collapse;
 margin-right: 5px;
}

.FormComments {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #BBB;
 height: 1.5em;
 display:table-cell;
 vertical-align:top;
 float: left;
}

.FormEntry{
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 background-color: #FDFDFD;
 border: 1px solid #888;
 padding-left: 2px;
 padding-right: 2px;
 /*height: 1.5em;  text boxes also use this class */
 /*display:table-cell; */
 vertical-align:top;
}

.FormEntryRight{
 direction: rtl;
}

.formrqd {
 background-color: #FEF5E2;
}

.formreadonly {
 background-color: #E2F9FE;
}

.formerror {
 background-color: #FFBBBB;
}

.SelectList {
 color: #333;
 border-collapse: collapse;
}

.SelectList1 {
 background-color: #EEEEEE;
/* padding: 3px;*/
}
.SelectList2 {
 background-color: #FFFFFF;
/* padding: 3px;*/
}

div.formcorner {
 background-color : #EEEEEE;
}

.TinyForm {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 font-weight: normal;
 padding: 0px;
 border-collapse: collapse;
 text-align: left;
 margin-left: 0px;
 border: 0px;
}

.TinyForm th {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 font-weight: normal;
 color: #333;
 padding: 0px;
 border: 0;
}

.TinyForm input {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 font-weight: normal;
 color: #333;
}

.InvisibleTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 13px;
 border-collapse: collapse;
 padding: 0px;
 border: 0px solid;
}

.InvisibleTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 border: 0;
 font-size: 13px;
 margin: 0;
 padding: 0;
}

div.headingouter{
 background-color : #EEEEEE;
 clear: both;
}

.headingtable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 24px;
 color: #999;
 width: 100%;
 border: 0;
}

.headingtable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 24px;
 color: #999;
 text-align: center;
 border: 0;
}

.footertable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #999;
 text-align: center;
 width: 100%;
 border: 0;
}

.footerTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #999;
 text-align: center;
 border: 0;
}

/* Buttons */
.MainButton {
 width: 80px;
 height: 26px;
 margin: 3px 1px;
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
}

.MainButtonTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.MainButtonTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.WideButton {
 width: 200px;
 height: 26px;
 margin: 3px 1px;
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
}

.WideButtonTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.WideButtonTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.SmallButton {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
 height: 20px;
}

.SmallButtonTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.SmallButtonTable td{
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.LookupButton {
 width: 26px;
 height: 20px;
 cursor: pointer;
}

.LookupButtonTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.LookupButtonTable td{
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 10px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.Button1  {
 width: 75px;
 height: 25px;
 text-align: center;
 cursor: pointer;
}
.Button2  {
 width: 85px;
 height: 25px;
 text-align: center;
 cursor: pointer;
}
.Button3  {
 width: 100px;
 height: 25px;
 text-align: center;
 cursor: pointer;
}
.Button4  {
 width: 30px;
 height: 25px;
 text-align: center;
 cursor: pointer;
}
.Button5  {
 width: 50px;
 height: 25px;
 text-align: center;
 cursor: pointer;
}
.Button100 {
 width: 75px;
 height: 25px;
 background-image: url('button.png');
 text-align: center;
 cursor: pointer;
}

/* InForm button is handy for buttons used "inline" in a form */
.InFormButton {
 width: 80px;
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
}

.InFormButtonTable {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

.InFormButtonTable td {
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 cursor: pointer;
 padding: 0px;
 margin: 0px;
}

/* generic div used for forms */
.fdiv {
 border-collapse: collapse;
 margin-top: 0px;
 margin-right: 5px;
 display: inline;
}

/* generic div used for form fields */
.adiv {
 border-collapse: collapse;
 float: left;
 margin-top: 0px;
 margin-right: 5px;
 display: inline;
}

/* generic div used for hidden form fields */
.hdiv {
 border-collapse: collapse;
 margin-top: 0px;
 margin-right: 0px;
 display: inline;
}

.aFooter {
 border-top: 4px solid #0080C0;
 border-left: 0px;
 border-bottom: 0px;
 border-right: 0px;
 font-family: Century Gothic,Tahoma,Verdana,Arial,Helvetica,sans-serif;
 font-size: 10px;
 font-weight: normal;
 color: #888;
 width: 100%;
 background-color: #FAFAFA;
 padding: 4px;
 border-collapse: collapse;
 position: absolute;
 bottom: 0px;
 left: 0px;
 text-align:left;
}

.aHeader {
 border-top: 0px;
 border-left: 0px;
 border-bottom: 4px solid #0080C0;
 border-right: 0px;
 font-family: Century Gothic,Tahoma,Verdana,Arial,Helvetica,sans-serif;
 font-size: 24px;
 font-weight: normal;
 color: #888;
 width: 100%;
 background-color: #FAFAFA;
 padding: 4px;
 border-collapse: collapse;
}

.aHeader td{
 padding: 4px;
}

.ScrollBrowse {
 height: 300px;
 overflow: auto;
}

.nt-plain{
margin-bottom: 1em;
}

.nt-rounded{
background-color:#EEEEFF;
margin-bottom: 0.5em;
margin-top: 0.5em;
padding: 5px;
}

.nt-rounded-header{
padding:5px;
margin-bottom: 1em;
}

/* wizards */
.nt-wizard {
display: none;
padding: 1em;
}

.FormWizard {
 background-color: #FAFAFA;
 border-bottom:1px solid #EEEEEE;
 border-top:1px solid #EEEEEE;
}

.nt-html{
}

.nt-body {
 background-color: #FFF;
 margin: 1em;
 height: 96%;
}

.nt-body-div {
 height:100%;
}

/*------------------------------------------------------------*/
/*general layout*/
.nt-wide{width:100%;}
.nt-left{float: left; margin-right: 5px;}
.nt-hard-left{float: left;}
.nt-center{margin:auto;padding:0;}
.nt-right{float: right;}
.nt-nowrap{white-space: nowrap;}
.nt-wrap{white-space: normal;}
.nt-width-0{width:0;}
.nt-width-5{width:5%;}
.nt-width-10{width:10%;}
.nt-width-15{width:15%;}
.nt-width-20{width:20%;}
.nt-width-25{width:25%;}
.nt-width-30{width:30%;}
.nt-width-33{width:33%;}
.nt-width-35{width:35%;}
.nt-width-40{width:40%;}
.nt-width-45{width:45%;}
.nt-width-50{width:50%;}
.nt-width-55{width:55%;}
.nt-width-60{width:60%;}
.nt-width-65{width:65%;}
.nt-width-66{width:66%;}
.nt-width-70{width:70%;}
.nt-width-75{width:75%;}
.nt-width-80{width:80%;}
.nt-width-85{width:85%;}
.nt-width-90{width:90%;}
.nt-width-95{width:95%;}
.nt-width-99{width:99%;}
.nt-width-100{width:100%;}

.nt-width-50px{width:50px;}
.nt-width-75px{width:75px;}
.nt-width-100px{width:100px;}
.nt-width-110px{width:110px;}
.nt-width-125px{width:125px;}
.nt-width-150px{width:150px;}
.nt-width-200px{width:200px;}
.nt-width-300px{width:300px;}
.nt-width-400px{width:400px;}
.nt-width-500px{width:500px;}

.nt-height-10px{height:10px;}
.nt-height-15px{height:15px;}
.nt-height-20px{height:20px;}


.nt-margin-top{margin-top: 0.5em !important;}
.nt-margin-right{margin-right: 0.5em !important;}
.nt-margin-bottom{margin-bottom: 0.5em !important;}
.nt-margin-left{margin-left: 0.5em !important;}

.nt-margin-top-0{margin-top:0 !important;}
.nt-margin-right-0{margin-right:0 !important;}
.nt-margin-bottom-0{margin-bottom:0 !important;}
.nt-margin-left-0{margin-left:0 !important;}

.nt-margin-top-1{margin-top: 1em !important;}
.nt-margin-right-1{margin-right: 1em !important;}
.nt-margin-bottom-1{margin-bottom: 1em !important;}
.nt-margin-left-1{margin-left: 1em !important;}

.nt-margin-top-15{margin-top: 1.5em !important;}
.nt-margin-right-15{margin-right: 1.5em !important;}
.nt-margin-bottom-15{margin-bottom: 1.5em !important;}
.nt-margin-left-15{margin-left: 1.5em !important;}

.nt-padding-left-1{padding-left: 1em !important;}
.nt-padding-right-1{padding-right: 1em !important;}
.nt-padding-top-1{padding-top: 1em !important;}
.nt-padding-bottom-1{padding-bottom: 1em !important;}

.nt-padding-1{padding: 1em !important;}
.nt-padding-3rd{padding: 0.33em !important;}
.nt-padding-5px{padding: 5px !important;}
.nt-padding-2px{padding: 2px !important;}

.nt-onright{
border-collapse: collapse;
display: inline;
/*margin-left:0.5em;*/
float: left;
min-width: 55%;
}

.nt-inline {
 border-collapse: collapse;
 display: inline-block;
}

.nt-fix-bottom-left{
position:absolute;
bottom:0;
left:0;
}

.nt-fix-bottom-right{
position:absolute;
bottom:0;
right:0;
}


.nt-fix-top-left{
position:absolute;
top:0;
left:0;
}

.nt-fix-top-right{
position:absolute;
top:0;
right:0;
}

/*buttons general*/
.nt-small-button{height: 1.6em;width: 1.6em !important;}
.nt-small-button span{padding: 0.1em ! important;}
.nt-button{min-width: 7em;font-size: 12px;}

/* general headers*/
.nt-header{color:#999999;font-weight:normal;padding: 0.2em;}

.nt-site-header{
border-bottom:5px solid #7190E0;
padding:0%;
width:100%;
font-size: 3em;
font-weight: normal;
}

.nt-site-footer{
border-top:5px solid #7190E0;
width:100%;
font-size: 1em;
font-weight: normal;
}

/* Specific Headers */
.nt-form-header{font-size: 2em;}
.nt-form-header-sub{font-size: 1.5em;}
.nt-browse-header{font-size: 2em;}
.nt-browse-header-sub{font-size: 1.5em;}

.nt-header-table{font-size:3em;width:100%;border:0;}
.nt-footer-table {font-size:0.8em;width: 100%;border:0;}

/* form specific*/
.nt-tab-outer{
}

.nt-tab-inner{
}

.nt-tab-title{
font-size: 1.2em;
padding-left: 5px;
padding-right: 5px;
}

.nt-tab-title legend{
}

.nt-form-table {
 padding: 4px;
 border-collapse: collapse;
 text-align: left;
 margin-left: 10px;
 border: 0px;
/*  float: left; causes tab on xp-tabs to break*/
}

.nt-form-table td {
 border: 0px;
 font-weight: normal;
 vertical-align: top;
 /* white-space: nowrap; */
}

.nt-form-table img{
 margin-bottom: 4px;
}


.nt-form-div{
 border-collapse: collapse;
 float: left;
 margin-top: 0px;
 margin-right: 5px;
 display: inline;
}


.nt-formcell{
 display:table-cell;
 vertical-align:top;
 border-collapse: collapse;
 padding: 4px;
}

.nt-prompt{
 font-weight: bold;
 float: left; /*needed for multiple forms fields in a cell */
 margin-right: 5px;
 color: #444444;
}

.nt-prompt-span{
min-width: 130px;
}

.nt-display{
 float: left; /*needed for multiple forms fields in a cell */
 margin-right: 5px;
}

.nt-entry{
 background-color: #FDFDFD;
 border: 1px solid #888;
 padding-left: 2px;
 padding-right: 2px;
 /*height: 1.5em;  text boxes also use this class */
 /*display:table-cell; */
 vertical-align:top;
}

.nt-select{padding-right:0px;margin-right:1em;}

.nt-entry-right{ text-align: right;}
.nt-entry-normal { background-color: #FDFDFD;}
.nt-entry-required { background-color: #FEF5E2;}
.nt-entry-readonly { background-color: #E2F9FE;}
.nt-entry-error { background-color: #FFBBBB;}

.nt-comment{
 color: #A0A0A0;
 float: left;
}

.nt-comment-error{padding-left: 0.5em;padding-right: 0.5em;}

.nt-tiny-form {
 font-size: 80%;
 padding: 0px;
 border-collapse: collapse;
 text-align: left;
 margin-left: 0px;
 border: 0px;
}

.nt-tiny-form th {
 color: #333;
}

.nt-tiny-form input { color: #333;}


/* browse specific */

.nt-browse-table{
 margin: 5px 0px 5px;
 border-color: #888;
 border-top: 1px solid #888;
 border-left: 1px solid #888;
 border-bottom: 1px solid #888;
 border-right: 1px solid #888;
 padding: 0px;
 border-spacing: 0px;
}

.nt-browse-table tr{
vertical-align: top;
}
.nt-browse-table th{
white-space: nowrap;
font-size:1.1em;
}

.nt-browse-table td {
padding-left: 5px;
padding-right: 5px;
border-left: 0px solid #AAA;
border-right: 1px solid #EEE;
border-bottom: 1px solid #CCC;
border-top: 1px solid #EEE;
}

.nt-browse-table-footer{
font-weight: bold;
color: #000080;
font-size:1.1em
}

.BrowseEntry{
 font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
 font-size: 11px;
 background-color: #FDFDFD;
 border: 1px solid #888;
 padding-left: 2px;
 padding-right: 2px;
 vertical-align:top;
}

.nt-icon-left{
float:left;
margin-top:3px;
margin-left:0px;
}

/* generic div for "_busy" graphic */
.nt-busy {
 position: absolute;
 background-color: transparent;
 top: 100%;
 left: 100%;
 margin-top: -36px;
 margin-left: -36px;
 width: 32px;
 height: 32px;
}

/* for compatability with static sites */
.bdiv {
 position: absolute;
 background-color: transparent;
 top: 100%;
 left: 100%;
 margin-top: -36px;
 margin-left: -36px;
 width: 32px;
 height: 32px;
 visibility: hidden;
}

.nt-locator{
}

.nt-locator td div img{
margin-bottom: 2px;
}

.nt-alert {
font-weight: bold;
height:1.7em;
padding-left:0.5em;
padding-top:0.5em;
margin: 0.5em;
}

.nt-contract-icon{
background: transparent;
border: 0px;
display: block;
margin-top: 0.3em;
}

.nt-browse-resizable{
height: 99%;
overflow: scroll;
overflow-y: scroll;
overflow-x: hidden;
}

.nt-fakeget {
 text-decoration: underline;
 cursor: pointer;
}


/* keep this near the bottom */
.nt-hidden{
 visibility: hidden;
 border-collapse: collapse;
 margin: 0 !important;
 padding: 0 !important;
 display: none; /* was inline in 5.05 and earlier */
 height: 0 !important;
}

.nt-menu-item{
margin-top: 0.3em;
margin-bottom: 0.3em;
}

.nt-test{
}

/* Corner radius */
.nt-corner-tl { -moz-border-radius: 4px 0px 0px 0px; -webkit-border-radius: 4px 0px 0px 0px; border-radius: 4px 0px 0px 0px; behavior: url(PIE.htc);}
.nt-corner-tr { -moz-border-radius: 0px 4px 0px 0px; -webkit-border-radius: 0px 4px 0px 0px; border-radius: 0px 4px 0px 0px; behavior: url(PIE.htc);}
.nt-corner-bl { -moz-border-radius: 0px 0px 4px 0px; -webkit-border-radius: 0px 0px 4px 0px; border-radius: 0px 0px 4px 0px; behavior: url(PIE.htc);}
.nt-corner-br { -moz-border-radius: 0px 0px 0px 4px; -webkit-border-radius: 0px 0px 0px 4px; border-radius: 0px 0px 0px 4px; behavior: url(PIE.htc);}
.nt-corner-top { -moz-border-radius: 4px 4px 0px 0px; -webkit-border-radius: 4px 4px 0px 0px; border-radius: 4px 4px 0px 0px; behavior: url(PIE.htc);}
.nt-corner-bottom { -moz-border-radius: 0px 0px 4px 4px; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px; behavior: url(PIE.htc);}
.nt-corner-right { -moz-border-radius: 0px 4px 4px 0px; -webkit-border-radius: 0px 4px 4px 0px; border-radius: 0px 4px 4px 0px; behavior: url(PIE.htc);}
.nt-corner-left { -moz-border-radius: 4px 0px 0px 4px; -webkit-border-radius: 4px 0px 0px 4px; border-radius: 4px 0px 0px 4px; behavior: url(PIE.htc);}
.nt-corner-all { -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; behavior: url(PIE.htc);}


/* simulated XP tabs with jQuery tab widget */
.ui-tabs .nt-xptab-title li a{
padding-left: 3px;
padding-right: 3px;
padding-top: 0;
padding-bottom: 0;
}

.ui-tabs .nt-xptab-title li{
border: 1px solid #CCCCCC!important;
padding-top:2px;
}

.ui-tabs .nt-xptab-title li.ui-tabs-selected {
border-bottom:1px solid #F7F7F7!important;
border-top: 3px solid #EF8C08 !important;
padding-top:0px;
padding-bottom:0px;
}

.ui-tabs .nt-xptab-title li.ui-tabs-selected a{
background: #F7F7F7;
}

.nt-xptab-title, .nt-xptab-title a{ 
background: white;
border: 0;
font-size: 11px;
color: black!important;
font-weight: normal;
font-family: arial;
line-height: 21px;
}

.ui-dialog .ui-dialog-titlebar-access { position: absolute; right: 1.6em; top: 53%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.nt-browse-titlebar-access{float:right;padding-top:2px;}
.nt-form-page-access{position:absolute;top:12px;right:12px;}

.nt-countdown{
font-size:0.6em!important;
color: red;
}