

div.headinginner{
  background-color : #dfe3ee;
  margin-left: 4px;
  margin-right: 4px;
}

/*Override Buttons*/

.ThinButton {
  font-family:  Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  font-size: 9px;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  height: 18px;
}

/*.DoubleButton {
  font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  font-size: 9px;
  width: 128px;
  height: 28px;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 25px;
  text-align: -moz-left;
}*/



/*#save_btn {
    text-align: -moz-center;
    padding-left: 0px;
    padding-bottom: 25px;
    margin: 1px;
    width:100px;
    height:28px;
}*/

/*#cancel_btn {
    text-align: -moz-center;
    padding-left: 0px;
    padding-bottom: 25px;
    margin: 1px;
    width:100px;
    height:28px;
}*/

/*.MainButton {
    text-align: -moz-center;
    padding-left: 0px;
    padding-bottom: 4px;
    margin: 1px;
    width:100px;
    height:32px;
}*/
.MainButtonIcon {
  width: 100px;
  height: 26px;
  margin: 3px 1px;
  font-size: 11px;
  cursor: pointer;
  padding-bottom: 25px;
  text-align: -moz-center;
}
/*.SmallButtonFixed {
  font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  font-size: 10px;
  cursor: pointer;
  padding: 0px 0px 5px;
  margin: 0px;
  height: 24px;
  width: 175px;
  text-align: -moz-center;
}*/
.SmallButtonFixedBold {
  font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 0px 5px;
  margin: 0px;
  height: 24px;
  width: 175px;
  text-align: -moz-center;
}
.SmallButtonFixedIcon {
  font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  font-size: 10px;
  cursor: pointer;
  padding: 0px 0px 5px;
  margin: 0px;
  height: 32px;
  width: 175px;
  text-align: -moz-center;
}
.SmallButtonIcon {
  font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  font-size: 9px;
  cursor: pointer;
  padding-bottom: 2px;
  height: 18px;
  width: 42px;
}
.BrowseButtons {
  width: 72px;
  height: 26px;
  margin: 3px 1px;
  font-size: 11px;
  cursor: pointer;
  text-align: -moz-center;
  padding-bottom: 25px;
}
.BrowseButtonsSmall {
  font-family:  Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  width: 70px;
  height: 24px;
  margin: 3px 1px;
  font-size: 11px;
  cursor: pointer;
  padding: 0px 0px 5px;
  /*text-align: -moz-center;*/
}
.MenuButton {
    font-family:  Tahoma, Verdana,  Arial, Helvetica, sans-serif;
    font-size: 11px;
    cursor: pointer;
    padding: 0px 0px 5px;
    margin: 0px;
    height: 22px;
    width: 120px;
}
.MenuButtonIcon {
    font-family:  Tahoma, Verdana,  Arial, Helvetica, sans-serif;
    font-size: 11px;
    cursor: pointer;
    padding: 0px 0px 5px;
    margin: 0px;
    height: 26px;
    width: 120px;
    padding-bottom: 25px;
}
/*Override Fields*/

.FormEntry{
font-family: Tahoma, Verdana,  Arial, Helvetica, sans-serif;
font-size: 11px;
/*background-color: #FFFFFF;*/
border: 1px solid #888;
padding-left: 2px;
padding-right: 2px;
}

.SelectList1 {
background-color: #F9F9F9;
padding: 0px 4px ;

}
.SelectList2 {
background-color: #FFFFFF;
padding: 0px 4px;
}
/*.alert {
  font-family:  Tahoma, Verdana,  Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #00FFFF;
  text-align: center;
  width: 820px;
  height: 24px;
  position: absolute;
  font-weight: bold;
  padding-top: 6px;
   }*/
