/*Override Defaults*/

body {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  }

.PageBody {
   margin-top: 1%;
   margin-left: 5%;
   margin-right: 5%;
   width: 90%;
}

.nt-full {
   float: none;
   margin: 0;
   }

/*.nt-header {
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #333333;
  font-weight: bold;
  padding-left: 0.4em;

}*/

.nt-drop-multiple {
	height: 12.5em;
	}

.nt-formcell {
    padding: 2px;
}

.nt-form-header-sub, .nt-browse-header-sub, .nt-header{
  font-family: Arial, sans-serif;
	background-color: #F00;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	padding: 0.2em;
	padding-left: 0.5em;
	}

.nt-tab-inner {
   background-color: #FFFFFF;
   border: 0.1em solid #C0C0C0;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
   border-bottom-right-radius: 3px;
   border-bottom-left-radius: 3px;
   }

.FormComments {
    color: #111144;
    font-size: 10px;
}

.nt-prompt {
   width: 14em;
   }
.nt-prompt-small {
	width: 11em;
	}   

.nt-rounded-header {
   padding: 0.1em;
   margin-bottom: 0.5em;
   background: #DADAD1;
   color: #333333;
   border: 0;
   padding-left: 1em;
}

.ui-widget-header, .ui-state-default {
   background: #DADAD1;
   color: #333333;
}

.TextEntry {
    font-size: 11px;
    background-color: #FDFDFD;
    border: 1px solid #888;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align:middle;
}
.nt-locator input{
	text-transform: uppercase;
	}

/*Buttons*/

.MainButton {
	border-style: none;
   	background: url("../images/vodbutton_90.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding: 0px;
   	width: 90px;
   	height: 28px;
	cursor: pointer;
	margin-top: 2px;
	padding-left: 5px;
	}
.MainButton:hover {
   	background: url("../images/vodbutton_90.png") no-repeat scroll left -40px transparent;
	}

.MainButtonIcon {
	border-style: none;
   	background: url("../images/vodbutton_90.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding: 0px;
   	width: 90px;
   	height: 28px;
   	text-align: left;
	cursor: pointer;
	margin-top: 2px;
	padding-left: 5px;
	}
.MainButtonIcon:hover {
   	background: url("../images/vodbutton_90.png") no-repeat scroll left -40px transparent;
	}

.MenuButton {
	border-style: none;
   	background: url("../images/vodbutton_160.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding: 0px;
   	width: 160px;
   	height: 28px;
   	text-align: center;
	cursor: pointer;
	margin-top: 2px;
	padding-left: 5px;
	}

.MenuButton:hover {
   background: url("../images/vodbutton_160.png") no-repeat scroll left -40px transparent;
}

.DoubleButton {
	border-style: none;
   	background: url("../images/vodbutton_152.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding-left: 0.5em;
   	height: 28px;
   	text-align: center;
   	cursor: pointer;
   	width: 14em;
	}
.DoubleButton:hover {
	background: url("../images/vodbutton_152.png") no-repeat scroll left -40px transparent;
	}

.button-entryfield {
	border-style: none;
   	background: url("../images/vodbutton_entryfield.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	/*padding: 0px;*/
   	width: 16.5em;
   	height: 2.4em;
	}
.button-entryfield:hover {
	background: url("../images/vodbutton_entryfield.png") no-repeat scroll left -40px transparent;
	}

.SmallButtonFixed {
	border-style: none;
   	background: url("../images/vodbutton_152.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding: 0px;
   	width: 152px;
   	height: 28px;
	}
.SmallButtonFixed:hover {
	background: url("../images/vodbutton_152.png") no-repeat scroll left -40px transparent;
	}

.SmallButtonIcon, .SmallButton {
   font-size:11px;
   font-family:Arial,sans-serif;
   font-weight:bold;
   color:#333333;
   width:58px;
   min-height: 1.6em;
   padding-bottom: 0.2em;
   border-style:ridge;
   border-color: #dadad1;
   border-width:1px;
   text-align: center;
   margin-top: 1px;
   }
.SmallButtonIcon:hover, .SmallButton:hover {
	background-color: #ffca04;

	}

.FlatButton {
   font-size:11px;
   font-family:Arial,sans-serif;
   font-weight:bold;
   color:#333333;

   border-style:ridge;
   border-color: #dadad1;
   border-width:1px;
   text-align: center;
   min-width: 9em;
   min-height: 1.6em;
   padding-bottom: 0.2em;
	}
.FlatButton:hover {
	background-color: #ffca04;
	}

.LookupButton {
   font-size:9px;
   font-family:Arial,sans-serif;
   font-weight:normal;
   color:#333333;
   height:2em;
   border-color: #333333;
   border-width:1px;
   background: #EEEEEE;
   }
.LookupButton:hover {
	background-color: #ffca04;
	}

/*==========================================================================*/
/*Fonts*/
.bold {
   font-weight: bold;
}
.green {
   color: #00888d;
}
.red {
   color: #F00;
}
.blue {
   color: #00F;
}

.large {
   font-size: 14px;
   }

.ui-widget, .nt-entry, .nt-locator, .FormEntry, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
   font-size:11px;
   font-family:Arial,sans-serif;
}

/*Banners*/
.nt-center-red {
    background-color: #FF0000;
    margin: auto;
    padding: 0;
}

.nt-prompt-small {
   font-weight: bold;
   }

.BottomBannerText {
    left: 100%;
    margin-left: -22%;
    margin-top: 0;
    position: relative;
}

.SmallText {
    font-size: 7pt;
    font-weight: normal;
}
.SmallTextRight {
    font-size: 7pt;
    font-weight: normal;
    text-align: right;
}
.SmallTextCenter {
    font-size: 7pt;
    font-weight: normal;
    text-align: center;
}

.nt-licence-text iframe{
   /*border: 0 solid #8888ff;*/
   height: 350px;
   width: 100%;
   background-color: #FFFFFF;
   border: 0.1em solid #C0C0C0;
}

.nt-browse-table th,.nt-browse-table a {
   color: #333333;
}

/*Menu*/
.nt-menu > li > a {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.nt-menu-div {
    border: none;
    height: 2em;
    margin-bottom: 0.2em;
}

.nt-menu a:link {
    text-decoration: underline;
    padding-left: 2em;
    padding-right: 2em;
}

/*.ui-state-default {
    background: url("images/ui-bg_gloss-wave_75_2191c0_500x100_vod.png") repeat-x scroll 50% 50% #FFF;
    border: 1px solid #C5DBEC;
    color: #FFF;
    font-weight: bold;

}*/


.ui-state-hover, .ui-state-focus, .nt-menu a:visited, .nt-menu a:hover, .nt-menu a:active {
   border: 1px solid #EEE;
   background: 0;
   /*background-color: #ffca04;*/
   background-color: #EEE;
   color: #333333;
   font-weight: bold;
}
.ui-widget-header, .ui-widget-content {
   border: 1px solid #C0C0C0;
   }

/*.ui-widget-content {
    background: url("images/ui-bg_inset-hard_100_fcfdfd_1x100.png") repeat-x scroll 50% bottom #FCFDFD;
    border: 1px solid #EEE;
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}*/

/*Progress Window*/
.nt-process {
    position: absolute;
    top: 30%;
    left: 35%;
    margin: auto;
    z-index: 999;
    width: 250px;
    text-align: center;
    background: #FFF;
}
.nt-process-text {
    /*text-shadow: 2px 2px 3px #C0C0C0;*/
    font-weight: bold;
    color: #444444;
    background-color: #FFF;
    }

.NoShow {
  visibility: hidden;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 0px;
  left: 0px
}
.hidden {
	display: none !important;
	width: 0 !important;
	}
.ui-height-300 {
   height: 300px;
   }
   
   
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-top, .ui-corner-right, .ui-corner-tr, .ui-corner-tl, .ui-corner-bl, .ui-corner-br , .save-button, .cancel-button{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -khtml-border-top-left-radius: 0px;
    -khtml-border-top-right-radius: 0px;
    -khtml-border-bottom-left-radius: 0px;
    -khtml-border-bottom-right-radius: 0px;
    }       
    
input[type="text"], input[type="password"] { 
	height: 1.5em;
	}    
select:not([size]) {
	height: 1.9em;
	}

			