.nt-body {
	width: 100%;
	margin: auto;
	background: #FFF;
	}

/*.nt-body-div {
	margin: auto;
	}

* {
	float: none;
	}*/

/*html {
	-webkit-text-size-adjust: none;
	}*/





.ui-tabs .ui-tabs-panel {
	padding: 0em;
	}

.nt-form-table td {
	padding: 0em;
	}

.ui-widget-content {
    background: #FFF;
    border-width: 0;
}

.nt-rounded {
	border: 0px;
	background: #FFF;
	}

.nt-rounded-header {
	padding: 0.1em;
	margin:0;
	}

/*.nt-prompt .nt-entry{
	font-size: 12px;
	font-weight: normal;
	}*/
.nt-prompt {
	font-weight: normal;
	color: #333399;

	}
.nt-prompt-fixed {
    color: #333399;
    float: left;
    font-weight: normal;
    margin-right: 5px;
    width: 120px;
}

.nt-browse-table {
	font-size: 1em;
	}
.nt-browse-table thead {
    font-size: 0.8em;
    }

.nt-browse-table td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	}

.ui-button >button{
	width: 7em;
	font-size: 1em;
	color: #000;
	}

.nt-small-button {
	height: 2em;
	width: 3em !important;
	padding-bottom: 1em;
	}

.ui-div-form-small {
	margin: auto;
	width: 100%;
	}

button.ui-button-fixed-11 {
	width: 11em;
	}

.ui-color-highlight {
	color: #008000;
	}

.ui-color-default {
	color: #2E6E9E;
	}
.ui-bold {
	font-weight: bold;
	}

.ui-state-default {
	color: #000;
	}