/*Override Defaults*/

/*Defaults*/
.nt-body {
	background: url("/images/remoteeng_back.png") repeat scroll 50% 50% #FFFFFF;
	font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
	/*width: 700px;*/
	}

/*Centre Window*/
.nt-body-div {
/*	margin: auto;
	width: 700px;*/
	}


/*Small Form*/
.nt-body-small {
	background: url("/images/remoteeng_back.png") repeat scroll 50% 50% #FFFFFF;
	font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
	font-size: 11px;
	}
.nt-body-div-small {
	margin: auto;
	width: 400px;
	}

.ui-div-form-small {
	margin: auto;
	width: 350px;
	}

.ui-widget {
	font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
	font-size: 12px;
	}
.ui-widget button {
	font-size: 11px;
	}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
	}

.ui-widget input {
	font-size: 12px;
	}

/*Tab Titles*/
.nt-tab-title {
	font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
	}
.nt-rounded-header {
	margin-bottom: 3px;
	}

.nt-tab-center{
	margin: auto;
	}

.nt-tab-center table{
	margin: auto;
	}

/*Accordion Titles*/
.ui-accordion .ui-accordion-header a {
	font-size: 11px;
	}

/*Move Save Buttons Down*/
.nt-tab-outer {
	padding-bottom: 3px;
	}

/*Span Sets	*/
.ui-span-left button{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 0px;
	}
.ui-span-middle button{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	}
.ui-span-right button{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 3px;
	}

/*Entry Fields*/
.nt-prompt {
	font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
	font-size: 12px;
	}
.nt-entry {
	font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
	}
.nt-comment {
	font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
	font-size: 11px;
	}

.nt-entry {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	}



/*Generic Round Corners*/
.ui-corner-all {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	}

/*Main Heading*/
.nt-header {
	font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2E6E9E;
	margin-top: 0.4em;
	padding: 0.2em 0.2em 0.2em 0.8em;
	background: url("images/ui-bg_diagonals-small_50_f5f8f9_40x40.png") repeat scroll 50% 50% #F5F8F9;
 	border: 1px solid #C5DBEC;
 	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	}

/*Form Background*/
.nt-rounded {
	background: url("images/ui-bg_inset-soft_10_fcfdfd_1x100.png") repeat-x scroll 50% bottom #FCFDFD;
	border: 1px solid #C5DBEC;
 	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	}

/*Center Browse Headings*/
.ui-widget-header {
	text-align: center;
	font-size: 11px;
	}

/*Space Around Browse Cell*/
.nt-form-table td {
/*	padding-top: 0.2em;
	padding-bottom: 0.2em;*/
	vertical-align: middle;
	}

/*Make Alert Bar Fit*/
.nt-alert {
	width: 97%;
	}

/*Shrink Padding Around Fields*/
.nt-formcell {
	padding: 2px;
	}

/*Small Lookup Button*/
.ui-button-small {
	height: 1.6em;
	padding-top: 0;
	}
.ui-button-small div {
	padding-top: 0;
	}

.nt-small-button {
    height: 2em;
    width: 2em !important;
}

 /*Home Made Customization*/
 .ui-title-bar {
 	font-weight: bold;
 	}

.nt-title-bar-text{
	font-size: 1.5em;
	}

.nt-title-bar-text-link {
	text-align: right;
	font-size: 1.2em;
	}

.ui-lozenge {
	background: url("images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
 	border: 1px solid #C5DBEC;
 	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	}

.ui-color-highlight {
	color: #008000;
	}

.ui-color-default {
	color: #2E6E9E;
	}
.ui-bold {
	font-weight: bold;
	}
.nt-font-small {
	font-size: 10px;
	}
button.ui-button-fixed-200 {
	width: 200px;
	}
button.ui-button-icon-only {
	width: 4em;
	height: 2em;
	}

/*Popup Calendar*/
.ui-datepicker table {
    font-size: 1.2em;
}