/*Main Heading*/
.nt-header {
	font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2E6E9E;
	margin-top: 0.4em;
	padding: 0.2em 0.2em 0.2em 0.8em;
	background: url("images/ui-bg_diagonals-small_50_f5f8f9_40x40.png") repeat scroll 50% 50% #F5F8F9;
 	border: 1px solid #C5DBEC;
	}