/*Font Styles + Sizes*/
.nt-body {
    font-size: 10px;
    background: url("/images/sb2k-background.gif") repeat scroll 50% 50% #FFFFFF;*/
    font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
    }

.ui-widget {
    font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
    font-size: 1em;
    }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: Tahoma,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;

	}

.nt-form-header {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.2em;
    color: #E17009;
    text-shadow: 2px 2px 3px #C0C0C0

    }
.nt-browse-header {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em;
    color: #E17009;
    text-shadow: 2px 2px 3px #C0C0C0
    }

.nt-form-header-sub {
    font-size: 1.2em;
    }
.nt-tab-title {
    font-size: 1em;
    }

.nt-title-bar-text {
	font-size: 1.5em;
	text-shadow: 2px 2px 3px #3A3C58
	}

.nt-prompt {
    width: 120px;
    }

.nt-prompt-squashed {
    font-weight: bold;
    float: left;
    color: #444444;
    margin-left: 4px;
    margin-top: 5px;
    width: 68px;
    }

/*.nt-text-small {
    font-size: 1em;
    }*/

.nt-browse-table th {
    font-size: 1em;
    }

.nt-browse-table-small {
    font-size: 0.8em;
    }
.nt-browse-table-small td{
    vertical-align: top;
    }

.nt-select >option{
    font-family: Courier New; !important
    }


/*Button Sizes*/
.nt-button-large {
    width: 15em;
    height: 7em;
    padding-top: 5%;
    }

.ui-button-small {
	height: 1.5em;
	margin-left: 0.4em;
	margin-top: 0.4em;
	}

.ui-button-small >span{
	font-size: 0.8em;
	margin-top: -0.3em;

	}


/*Window Dimenstions*/
.ui-div-form-small {
    width: 350px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;

	}
.ui-div-form-medium {
    top: 15%;
    left: 5%;
    position: absolute;
    display: block;
    width: 90%;
	}
.mob-ui-div-form-small {
    width: 350px;
    margin: 0px;
	}

.ui-tabs .ui-tabs-panel {
	display: inline;
	padding: 0 0.5em;
	}

.nt-tab-center{
	margin: auto;
	}


.nt-process {
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 999;
    width: 40%;
    /*margin-left: -150px;*/
    text-align: center;
}
.nt-process-text {
    font-size: 1.7em;
    text-shadow: 2px 2px 3px #C0C0C0;
    font-weight: bold;
    color: #444444;
    }

.chromemenu ul li a {
    font-size: 10px;
    }

.DropMenu a{
    font-size: 10px;
    }

