div.headinginner{
  background-color: #F8F8F8; 
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
}

div.browsetableinner{
  background-color : #FFFFFF;
  margin-left: 1px;
  margin-right: 1px;
  float: left;
}
