/*Buttons*/
.MainButtonIcon {
	border-style: none;
   	background: url("../images/vodbutton_90.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding: 0px;
   	width: 90px;
   	height: 28px;
   	text-align: left;
	cursor: pointer;
	margin-top: 2px;
	padding-left: 5px;
	}
.MainButtonIcon:hover {
   	background: url("../images/vodbutton_90.png") no-repeat scroll left -40px transparent;
	}
.BrowseButtons {
	border-style: none;
   	background: url("../images/vodbutton_90.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding: 0px;
   	width: 90px;
   	height: 28px;
   	text-align: left;
	cursor: pointer;
	margin-top: 2px;
	padding-left: 5px;
	}
.BrowseButtons:hover {
   	background: url("../images/vodbutton_90.png") no-repeat scroll left -40px transparent;
	}
.MainButton {
	border-style: none;
   	background: url("../images/vodbutton_90.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding: 0px;
   	width: 90px;
   	height: 28px;
	cursor: pointer;
	margin-top: 2px;
	padding-left: 5px;
	}
.MainButton:hover {
   	background: url("../images/vodbutton_90.png") no-repeat scroll left -40px transparent;
	}

.DoubleButton {
	border-style: none;
   	background: url("../images/vodbutton_152.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding-left: 0.5em;
   	width: 14em;
   	height: 28px;
   	text-align: center;
   	cursor: pointer;
	}
.DoubleButton:hover {
	background: url("../images/vodbutton_152.png") no-repeat scroll left -40px transparent;
	}
.SmallButtonFixed {
	border-style: none;
   	background: url("../images/vodbutton_152.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding: 0px;
   	width: 152px;
   	height: 28px;
	}
.SmallButtonFixed:hover {
	background: url("../images/vodbutton_152.png") no-repeat scroll left -40px transparent;
	}
.button-entryfield {
	border-style: none;
   	background: url("../images/vodbutton_entryfield.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding: 0px;
   	width: 16.5em;
   	height: 2.4em;
	}
.button-entryfield:hover {
	background: url("../images/vodbutton_entryfield.png") no-repeat scroll left -40px transparent;
	}

.button-inbrowse {
	border-style: none;
   	background: url("../images/vodbutton_90.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 9px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding: 0px;
   	width: 90px;
   	height: 28px;
   	text-align: center;
	cursor: pointer;
	margin-top: 2px;
	padding-left: 5px;
	}
.button-inbrowse:hover {
   	background: url("../images/vodbutton_90.png") no-repeat scroll left -40px transparent;
	}


.LookupButton {
   font-size:9px;
   font-family:Arial,sans-serif;
   font-weight:normal;
   color:#333333;
   /*width:21px;*/
   height:2em;
   /*border-style: groove;*/
   border-color: #333333;
   border-width:1px;
   background: none;
   }
.LookupButton:hover {
	background-color: #ffca04;
	}


.SmallButtonIcon, .SmallButton {
   font-size:11px;
   font-family:Arial,sans-serif;
   font-weight:bold;
   color:#333333;
   width:58px;
   height:18px;
   border-style:ridge;
   border-color: #dadad1;
   border-width:1px;
   background: white;
   text-align: center;
   }
.SmallButtonIcon:hover, .SmallButton:hover {
	background-color: #ffca04;

	}

.MenuButton {
	border-style: none;
   	background: url("../images/vodbutton_160.png") no-repeat scroll left top transparent;
   	background-size: 100%;
   	font-size: 11px;
   	font-family: Arial,sans-serif;
   	font-weight: bold;
   	padding: 0px;
   	width: 160px;
   	height: 28px;
   	text-align: center;
	cursor: pointer;
	margin-top: 2px;
	padding-left: 5px;
	}


.ButtonInBrowse {
	font-family: Arial, sans-serif;
	font-size: 9px;
	height: 4em;
	width: 10em;
}

/*.SmallButton {
  font-family: Arial, sans-serif;
  font-size: 9px;
  cursor: pointer;
  padding: 0px 0px 1px 0px;
  margin: 0px;
  height: 18px;
  width: 42px;
}*/


.SmallButtonFixedIcon {
  font-family: Arial, sans-serif;
  font-size: 10px;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  height: 32px;
  width: 175px;
padding: 0px 5px;

}


.ThinButton {
  font-family: Arial, sans-serif;
  font-size: 9px;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  width: 140px;
  height: 32px;
}

/* Fonts & Colours ================================= */

.formreadonly {
    background-color: #EFEFEF;
}
.DarkRedBold {
    font-family: Arial, sans-serif;
	color: #993300;
	font-weight: bold;
 }
.RedBold {
    font-family: Arial, sans-serif;
	color: #FF0000;
	font-weight: bold;
 }
 .RedBoldSmall {
    font-family: Arial, sans-serif;
	color: #FF0000;
	font-weight: bold;
	font-size: 8pt;

 }

.RedBoldLarge {
    font-family: Arial, sans-serif;
	color: #FF0000;
	font-weight: bold;
    font-size: 10pt;
}

.RedRegular {
    font-family: Arial, sans-serif;
	color: #FF0000;
}

.GreenBold {
    font-family: Arial, sans-serif;
	color: #00888d;
	font-weight: bold;
}

.GreenRegular {
    font-family: Arial, sans-serif;
	color: #00888d;
}

.GreenBoldLarge {
    font-family: Arial, sans-serif;
	color: #00888d;
	font-weight: bold;
    font-size: 10pt;
}

.BlueBold {
    font-family: Arial, sans-serif;
	color: #00b5c5;
	font-weight: bold;
}

.BlueRegular {
    font-family: Arial, sans-serif;
	color: #00b5c5;
}

.BlueBoldLarge {
    font-family: Arial, sans-serif;
	color: #00b5c5;
	font-weight: bold;
    font-size: 10pt;
}
.JustBold {
    font-family: Arial, sans-serif;
	color: #010101;
	font-weight: bold;
}

.SilverRegular {
    font-family: Arial, sans-serif;
    color: #C0C0C0;
    font-weight: normal;
}

.GreyRegular {
    font-family: Arial, sans-serif;
    color: #004080;
    font-weight: normal;
}
.BlackRegular {
    font-family: Arial, sans-serif;
    color: #333333;
    font-weight: normal;
}
.WhiteBold {
    font-family: Arial, sans-serif;
    color: #FEFEFE;
    font-weight: bold;
}
.WhiteRegular {
    font-family: Arial, sans-serif;
    color: #FEFEFE;
    font-weight: normal;
}
.PinkRegular {
    font-family: Arial, sans-serif;
    color: #FF99CC;
    font-weight: normal;
}
.OrangeRegular {
    font-family: Arial, sans-serif;
    color: #FF9900;
    font-weight: normal;
}
.PurpleRegular {
    font-family: Arial, sans-serif;
    color: #993366;
    font-weight: normal;
}


.SmallText {
    font-family: Arial, sans-serif;
    font-size: 7pt;
    font-weight: normal;
}
.SmallTextRight {
    font-family: Arial, sans-serif;
    font-size: 7pt;
    font-weight: normal;
    text-align: right;
}
.SmallTextCenter {
    font-family: Arial, sans-serif;
    font-size: 7pt;
    font-weight: normal;
    text-align: center;
}

.BottomBannerText {
	left: 100%;
	margin-left: -120px;
	margin-top: -30px;
	position: relative;
}
.BannerText {
    font-family:  Verdana;
    font-size: 12pt;
    font-weight: bold;
    color: #333333;
}

.BrowseGreen {
    color: #ffffff;
    background-color:#008080;
    text-align: center;
    font-size: 7pt;
}
.BrowseRed {
    color: #ffffff;
    background-color:#ff0000;
    text-align: center;
    font-size: 7pt;
}
.BrowseBlue {
    color: #ffffff;
    background-color:#0000ff;
    text-align: center;
    font-size: 7pt;
}
.BrowsePurple {
    color: #ffffff;
    background-color: #800080;
    text-align: center;
}
.BrowseCentreSmall {
    text-align: center;
    font-size: 7pt;
}
.BrowseLeftSmall {
    text-align: left;
    font-size: 7pt;
}
.BrowseRightSmall {
    text-align: right;
    font-size: 7pt;
}

/* Entry Formats ================================= */
.TextEntry {
    font-family: Arial, sans-serif;
    font-family: 69%/1.5 Arial,Helvetica,sans-serif;
    font-size: 10px;
    background-color: #FDFDFD;
    border: 1px solid #888;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align:middle;
}
.SelectList {
 	color: #333;
 	border-collapse: collapse;
 	height: 0.6em;
}

.SelectList1 {
 	background-color: #FBFBFB;
 	padding: 3px;
 	height: 0.6em;
	padding-left: 1em;
}
.SelectList2 {
 	background-color: #FFFFFF;
 	padding: 3px;
 	height: 0.6em;
	padding-left: 1em;
}


/* Screen Formats ================================= */
.PageBody {
	font-family: Arial, sans-serif;
	font-family: Arial,Helvetica,sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 820px;
	}

.fdiv {
	border-collapse: separate;
	}
.fdiv span{
	display: block;
	}

.MyTab {
	background-color: #dadad1;

}
.MyTab table {
	width: -moz-available;
	width: 100%;
		}

.MyTabTitle {
	background-color: #FF0000;
	height: 1em;
	padding: 0.2em;
	border-bottom: 0.5em solid #FFFFFF;
	padding-bottom: 0.7em;

}
.MyTabTitle span{
	color: #FFFFFF;
	font-size: 12px;
	}

.FormCentre, .FormCentreSmall {
	background-color: #FFFFFF;
	padding-top: 0.3em;
	padding-bottom: 0.7em;
	border: 0.1em solid #C0C0C0;
	}
.FormCentreFixed {

}
.FormCentreFixed td {
    width: 350px;
    }

.FormEntry {
	font-family: Arial, sans-serif;
	padding-right: 0;
	border-color: #333333;
	}
.noBorder {
	border: none;
	}

.MainHeading {
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #333333;
  font-weight: bold;
  padding-left: 0.4em;

}

.SubHeading {
	background-color: #FF0000;
	color: #FFF;
	font-size: 11px;
	font-weight: bold;
	padding: 0.2em;
	padding-left: 0.5em;
	}
.SubHeadingAlt {
	color: #000;
	font-size: 11px;
	font-weight: bold;
	margin-left: 0.2em;
	}


.FormComments {
    font-family: Arial, sans-serif;
    color: #111144;
    font-size: 10px;
}



.FormContents{
	border-right: 0.1em solid #FFFFFF;
	border-bottom: 0.1em solid #FFFFFF;
	border-top: 0.1em solid #C0C0C0;
	border-left: 0.1em solid #C0C0C0;
	}

.hidden {
	visibility: hidden;
	}

#Tab_BannerBlank {
	padding: 0.2em;
	}
.bannerHeading {
	background-color: #FF0000;
	width: 100%;
	}
.BrowseLookup {
	background-color: #FFFFFF;
	margin: 0.3em;
}



.FormPrompt2 {
	width: 16em;
	font-size: 11px;
	font-weight: bold;
	}


.FormSubTitle {
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 0px;
  text-align: Left;
  margin-left:auto;
  margin-right: auto;
  border-top: 1px solid ##8888ff;
  border-bottom: 1px solid ##8888ff;
  color: #333;
  background-color :#fff;
  width: 820px;
}

.alertgreen {
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  background-color :#008000;
  text-align: center;
  width: 950px;
  position: absolute;

}


table.BrowseTable td {
 padding: 2px;
 border-left: 0px solid #AAA;
 border-right: 1px solid #EEE;
 border-bottom: 1px solid #CCC;
 border-top: 1px solid #EEE;
 height: 10px;
}

table.BrowseTableTag {
	font-size: 11px;
	color: #333;
	margin: 5px 0px 5px 184px;
	border-color: #888;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-bottom: 1px solid #888;
	border-right: 1px solid #888;
	padding: 0px;
	border-spacing: 0px;*/
}

.CheckBoxPrompt {
 font-weight: bold;
 height: 1.5em;
 display:table-cell;
 vertical-align:top;
 font-size: 11px;
 float: left;
 margin-right: 5px;

}
.CheckBoxEntry {
 font-weight: bold;
 height: 1.5em;
 display:table-cell;
 vertical-align:top;
 font-size: 11px;
 margin-right: 5px;
 width: 400px;

}

.alert {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	color: #FF0000;
	}

/* Calendar ================================= */
#calendarDiv{
	position:absolute;
	width:205px;
	border:1px solid #317082;
	padding:1px;
	background-color: #FFF;
	font-family:Arial;
	font-size:11px;
	padding-bottom:20px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{

	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}



#calendarDiv .selectBox{
	border:0px solid #E2EBED;
	color: #E2EBED;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:0px solid #FFF;
	/*background-color: #317082;*/
	background-color: #FFFFFF;
	color: #FFF;
	position:relative;
}
#calendarDiv .selectBoxTime{
	border:0px solid #317082;
	color: #317082;
	position:relative;
}
#calendarDiv .selectBoxTimeOver{
	border:0px solid #216072;
	color: #216072;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
	/*background-color: #317082;*/
	background-color: #FFFFFF;
}
#calendarDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000;
}
#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
	background-image: url("/images/titlebar.jpg");
}
#calendarDiv .todaysDate div{
	float:left;
}

#calendarDiv .timeBar{
	height:17px;
	line-height:17px;
	background-color: #E2EBED;
	width:72px;
	color:#FFF;
	position:absolute;
	right:0px;
}

#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}


#calendarDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #317082;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;

}
#calendarDiv #monthSelect{
    font-family: Arial, sans-serif;
    font-size: 8px;
	width:70px;
	height: 5px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;
	padding:1px;
	margin:1px;
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:#317082;
	color: #E2EBED;
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}
#calendarDiv #calendar_month_txt{
    margin-top: -5px;
    }
#calendarDiv #calendar_year_txt{
    margin-top: -5px;
}

/* Menu Settings */
.chromemenu ul li a{
    font:11px Arial;
    color: #333333;
    padding: 4px 7px;
    margin: 3;
    text-decoration: none;
    border-right: 1px solid #DADADA;
}

.chromemenu ul li a:hover{
    background: url(../images/chromebg-over.gif) center center repeat-x;
    /*background-color: #000;*/
}

